$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

@media (max-width: $screen-lg) {
  .vs {
    margin-top: 95%;
}
  .fixture-match{
    zoom:0.7;
  }
  .sliders .carousel-control {
    width: 11%;
}

  .slider {
    .carousel-control.right {
      right: -70px;
  }
  }
.slider {
  .carousel-control.left {

    left: -70px;

  }
}
  // Header
.head-menu {
    li {
        padding: 0 0px;
  }
  }
  .navbar-brand {
    padding: 8px 0px;
}

//page
.title-name{
  h1 {
     font-size: 28px;
 }
}
.pl25{
  padding-left: 25px;
}
.li-footer {
  margin: 0 10px;
}

}
@media (max-width: $screen-md-max){
  .sliders{
    .glyphicon-chevron-right:before {
     zoom: 0.7;
     background-repeat: no-repeat;
 }
 .glyphicon-chevron-left:before {
  zoom: 0.7;
  background-repeat: no-repeat;
}
  }
  .sliders{
    .carousel-control.right {
        right: -76px;
    }
    .carousel-control.left {
      left: -76px;
  }
  }

  .slider {
    .carousel-control {
      width: 10% !important;
    }
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -29px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -29px;
}
  .f30 {
    font-size: 18px;
  }
  .f25 {
    font-size: 17px;
  }

  // .fixture-match{
  //   zoom:0.6;
  // }
  .pnl-title{
    font-size: 25px;
  }
  .mb200 {
    margin-bottom:100px;
}

  .font-20{
    font-size: 20px;
  }
  .w70 {
      width: 60%;
  }
  .navbar-brand {
    padding: 3px 0px !important;
}

.f20{
  font-size: 16px;
}
.li-footer {
      margin: 0 10px 4px 0px;
}
//page
.title-name {
    padding: 17px 50px 16px;
    h1{
      font-size: 22px;
    }
}
}
@media (max-width: $screen-sm-max) {
  .slider .carousel-control {
    width: 16% !important;
  }

  .mar-top{
    margin-top: 10px;
  }
  .f-23{
    font-size: 25px;
margin: 8px 0px 0px;
  }
  .fixture-match{
    zoom:0.5;
  }
  .mb200 {
    margin-bottom: 50px;
}
  .img-slide-padding {
    padding: 0 3px 3px;
}
  .slider {
    .carousel-control.right {
      right: -40px;
  }
  .carousel-control.left {

    left: -40px;

  }
  }

  .mb36 {
    margin-bottom: 30px;
}
  .mb100 {
    margin-bottom: 50px;
}
  .wallpapper-select {
    .form-control {
      height: 38px;

  }
  select {
    font-size: 17px;
}
&:after{
  top: 45%;
}
  }
  .wallpapper-count {
    span {
      font-size: 20px;
  }
  }
  .social-icon{
    ul{
      li{
      a{
        i {

          font-size: 20px;
          height: 36px;
          width: 35px;

      }
      }
      }
    }
  }
  .mt-l100 {
    margin: 60px 0 10px;
}
  .font-28{
    font-size: 28px;
  }
  .font-20{
    font-size: 16px;
  }
  .font-14{
    font-size: 14px;
  }
  .pro-cat label span {
    font-size: 14px;
}
  .f12{
    font-size: 12px;
  }
  .f15{
    font-size: 15px;
  }
  .mb-footer{
    margin-bottom: 50px;
  }
  .mt100 {
    margin-top: 50px;
}
  .f16{
    font-size: 16px;
  }
  .f24{
    font-size: 24px;
  }
  .mb50 {
    margin-bottom: 40px;
}
  .about-content {
    margin: 60px 0 65px;
}
  .page-title {
    bottom: -25px;
}
.panther-punch {
  img {
      width: 55px;
  }
  }
  .title-name {
    padding: 15px 40px 14px;
}
.title-name {
  h1 {
      font-size: 18px;
  }
}

  // Header
  .navbar-toggle {
    border-color: #4ECAF5 !important;
    transition: all 0.3s ease;
    .icon-bar {
    background-color: #4ECAF5 !important;
}
&:focus{
      background-color: #B41E72 !important;
}
&:hover{
      background-color: #83305F !important;
}
}
  .head-menu {
      li {
        font-size: 16px;
        padding: 5px 0px;
text-align: center
    }
    }
  .nav{
    li{
      a {
       padding: 0px 8px;
   }
    }
  }
  .banner-title {
    margin-top: 52px;
}
.navbar-brand {
    padding:10px 0px;
    img{
      zoom:0.4;
    }
}
// .navbar {
//     min-height: 70px;
//
// }
.navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);

}

.mr70 {
    margin-right: 0px;
}
// /footer
.name-sponser{
  text-align: center;
display: block;

}
.text-center-md{
  text-align: center;
}
.float-none-md{
  float: none !important;
}
.padd-footer{
  padding: 10px 0px;
}
.pall35 {
    padding: 20px 0 20px;
}
 }

@media (max-width: $screen-xs-max) {

  .pnl-title {
    font-size: 14px;
}
  .fixture .panel-title .schedule {
    font-size: 20px;

}
  .vs {
    margin-top: 180%;
}
.f-23 {
    font-size: 14px;
}
.mar-top {

    font-size: 14px;
}
  .fancybox-nav {
      width: 18%;
  }
  .fancybox-next {
    right: -10px;
}
.fancybox-prev {
    left: -10px;
}
  .marginzero{
    margin: 0px;
  }
  .martop {
    margin: 15px 0 10px;
}
  .mt-10{
    margin-top: 10px;
  }
  .fl-left{
    float: left !important;
margin-top: 16px;
  }
  .padzero{
    padding: 0px;
  }
  .mb36 {
    margin-bottom: 15px;
}
  .social-icon ul li a i {
    font-size: 15px;
    height: 28px;
    width: 29px;
}
  .wallpapper-count {
    span {
      font-size: 15px;
  }
  }
  .font-28 {
    font-size: 20px;
}
.mt-l100 {
    margin: 50px 0 0px;
}
.wallpapper-select{
  select {
     font-size: 14px;
 }
}
.wallpapper-download {
  img {
      height: 25px;
  }
}
  .wall-title {
    padding: 0px 0 30px;
}
  .font-20{
    font-size: 13px;
  }
  .font-14{
    font-size: 12px;
  }
  .title-font{
    font-size: 20px;
  }
  .title-margin0{
    margin: 5px 0px 0px 0px;
  }
  .desc-padtop{
    padding-top: 22px;
  }
  .date-float{
    float: left !important;
padding: 0;
  }
  .w70 {
    width: 100%;
}
  .btn{
    font-size: 11px;
  }
  .font-base{
    p {
     font-size: 14px;

 }
  }
  .about-content {
    margin: 30px 0 30px;
}
  .panther-punch {
    img {
      width: 38px;
  }
  }
  .page-title {
    bottom: -21px;
}
  .title-name{
        padding: 9px 18px 7px;
    h1 {
     font-size: 12px;
 }
  }
}

@media (max-width: 480px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -7px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -7px;
}
  .slider .carousel-control {
    height: 40%;
  }
  .f-23, .mar-top { font-size: 12px; }
}
