@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,300,600,700,500);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/fancyBox/source/helpers/jquery.fancybox-thumbs.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #b41e72 !default;
$brand-success: #4ecaf5 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base: #262626 !default;
$white: #fff !default;
$pink: #ee4a9b !default;
$font-light: 300 !default;
$font-grey: #676767 !default;
$panel-head: #83daf8 !default;
$facebook: #3d5b97 !default;
$twitter: #25a8e0 !default;
$google: #ce3633 !default;
$pintrest: #cf2228 !default;
$font-family-sans-serif: "Oswald", "Hind","Voyage Fantastique","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Oswald", "Hind", "Voyage Fantastique ","Advent Pro", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* font-family-serif*/
@font-face {
  font-family: "Voyage Fantastique";
  src: url(../fonts/voyagefantstraight.ttf);
  src: url(../fonts/voyagefantstraight.eot#iefix) format("embedded-opentype"), url(../fonts/voyagefantstraight.woff) format("woff"), url(../fonts/voyagefantstraight.ttf) format("truetype"), url(../fonts/voyagefantstraight.svg) format("svg");
}
@font-face {
  font-family: "Flaticon";
  src: url(flaticon.eot);
  src: url(flaticon.eot#iefix) format("embedded-opentype"), url(../fonts/flaticon.woff) format("woff"), url(../fonts/flaticon.ttf) format("truetype"), url(../fonts/flaticon.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}
.flaticon-tickets:before {
  content: "\e000";
}
.flaticon-tshirt18:before {
  content: "\e001";
}

/* mixing*/
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin x-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
.row-flex {
  @include display(flex);
}
.col-flex {
  @include flex(1);
  position: relative;
}
body {
  padding-top: 0;
  font-family: $font-family-sans-serif;
  color: $base;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
.content {
  min-height: 600px;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
a {
  text-decoration: none;
  color: $base;
  &:hover {
    text-decoration: none;
    color: $base;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}
nav li:hover .dropdown-menu {
  display: block;
}
/* Start writing sass here */
.padding0 {
  padding: 0;
}
.padding10 {
  padding: 10px;
}
.pb {
  padding-bottom: 20px;
}
.pt {
  padding-bottom: 20px;
}
.margin0 {
  margin: 0;
}
.navbar-default {
  background-color: $brand-primary;
  border-color: $brand-primary;
}
.navbar-brand {
  padding: 0 7px;
}
.sticky-bottom .navbar-fixed-top {
  top: calc(100% - 0px);
}
.sticky-bottom .navbar-fixed-top {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 9999;
  @include transition(all 700ms ease);
}
.sticky-bottom.affix .navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 999;
}
.head-menu {
  padding: 18px 0 17px;
  li {
    font-size: 20px;
    padding: 0 5px;
    font-weight: $font-light;
    a {
      color: $white !important;
    }
  }
}
.center-position {
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    img {
      width: 70%;
    }
  }
  .scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    @include transform(translateX(-50%));
    cursor: pointer;
    img {
      width: 20px;
      margin: 0 5px;
    }
  }
}
.section2.home {
  padding-top: 85px;
}
.banner-title {
  border-bottom: 4px solid $brand-success;
  position: relative;
  margin-top: 86px;
}
.page-title {
  position: absolute;
  width: 100%;
  bottom: -40px;
}
.title-name {
  background-color: $brand-success;
  @include transition(all 0.5s ease);
  color: $pink;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  padding: 17px 70px 16px;
  z-index: 9;

  &:before {
    left: -16px;
    height: 100%;
    width: 32px;
    position: absolute;
    content: "";
    top: 0;
    background-color: $brand-success;
    @include transform(skew(-20deg));
    z-index: -1;
    @include transition(all 0.5s ease);
    z-index: 9;
  }
  &:after {
    right: -16px;
    height: 100%;
    width: 32px;
    position: absolute;
    content: "";
    top: 0;
    background-color: $brand-success;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 9;
  }
  h1 {
    font-size: 34px;
    font-family: "Oswald";
  }
}
.bold {
  font-weight: 600;
}
.bold-mrgin {
  font-weight: 600;
  margin: 0;
}
.f40 {
  font-size: 34px;
  text-transform: uppercase;
}
.color-pink {
  color: $pink;
}
.color-primary {
  color: $brand-primary;
}
.color-success {
  color: $brand-success;
}
.color-grey {
  color: $font-grey;
}
.pt5 {
  padding-top: 5px;
}
.line140 {
  line-height: 140%;
}
.panther-punch {
  position: relative;
  margin-bottom: -8px;
  z-index: 9;
  img {
    width: 72px;
  }
}
.about-content {
  margin: 100px 0 65px;
}
.font-base {
  p {
    font-size: 16px;
    font-weight: 300;
  }
}
.font-light {
  font-weight: 300;
}
.thumbnail {
  width: 180px;
  text-align: center;
  height: 180px;
  overflow: hidden;
  border: 0 solid;
  margin: 0 auto;
  img {
    margin: 0 auto;
  }
}
.margin-auto {
  text-align: center;
  margin: 0 auto;
}
.mb50 {
  margin-bottom: 50px;
}
.mb75 {
  margin-bottom: 75px;
}
.mr70 {
  margin-right: 70px;
}
.display-inline {
  display: inline-block;
}
.custom-list {
  ul {
    list-style: none;
    display: block;
    li {
      display: inline-block;
    }
  }
}
.f20 {
  font-size: 20px;
}
.sponser-logo {
  padding: 18px 0;
}
.first-footer {
  background-color: #e3e3e3;
}
.li-footer {
  width: 60px;
  height: 25px;
  overflow: hidden;
  margin: 0 20px;
  vertical-align: sub;
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}
.second-footer {
  background-color: $brand-success;
}
.font-f {
  font-family: 'hind';
}
.social-link {
  ul {
    li {
      a {
        i {
          background: $base;
          color: #fff;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          padding: 8px 9px;
          font-size: 15px;
        }
      }
    }
  }
}
.pr15 {
  padding-right: 15px;
}
.pall35 {
  padding: 42px 0 35px;
}
.mb10 {
  margin-bottom: 10px;
}
.pad5 {
  padding: 0 5px;
}
.mt100 {
  margin-top: 100px;
}
.mb200 {
  margin-bottom: 200px;
}
.player-image {
  height: 300px;
  display: block;
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
.player-box {
  background-color: #e5f7fe;
  padding: 20px 0;
  margin: 0 6px 15px 0;
  border: 2px solid #fff;
  @include transition(all 300ms ease);
  &:hover {
    border: 2px solid $brand-primary;
  }
}
.f30 {
  font-size: 30px;
}
.f25 {
  font-size: 25px;
}
.voyeg-font {
  font-family: "Voyage Fantastique";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}
.new-image {
  height: 330px;
  overflow: hidden;
  display: block;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.btn-pink {
  color: #fff;
  background-color: $pink;
  border-color: $pink;
  text-transform: uppercase;
  border-radius: 0;
  padding: 5px 15px;
  &:hover {
    color: $white;
  }
  &:focus {
    outline: 0;
  }
}
.pro-cat {
  .checkbox-custom {
    opacity: 1;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    @include appearance(none);
  }
  .checkbox-custom-label {
    position: relative;
    font-weight: 400;
    &:before {
      content: '';
      background: transparent;
      border: 1px solid $base;
      display: inline-block;
      vertical-align: baseline;
      width: 16px;
      height: 16px;
      padding: 2px;
      margin-right: 10px;
      text-align: center;
    }
  }
  .checkbox-custom:checked + .checkbox-custom-label:before {
    background: $brand-primary;
  }
  label {
    span {
      font-weight: 300;
      font-size: 18px;
    }
  }
}
.m15 {
  margin: 0 0 15px;
}
.archives {
  background-color: #a6e4fa;
  padding: 30px 0 30px 40px;
}
.pad-view {
  padding: 0 0 30px 14px;
}
hr {
  border-top: 2px solid $brand-success;
}
.wallpapper-img {
  img {
    width: 100%;
  }
}
.wall-title {
  padding: 10px 0 40px;
}
.btn-primary {
  @extend .btn-pink;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
}
.mt-l100 {
  margin: 100px 0 20px;
}
.wallpapper-download {
  img {
    height: 30px;
    vertical-align: text-bottom;
  }
}
.wallpapper-count {
  border: 1px solid;
  padding: 4px 10px;
  margin-left: 20px;
  span {
    font-size: 24px;
  }
}
.wallpapper-select {
  select {
    background-color: $brand-success;
    font-size: 20px;
    @include appearance(none);
    cursor: pointer;
  }
  .form-control {
    height: 42px;
    border: 1px solid $brand-success;
    border-radius: 0;
  }
  &:after {
    position: absolute;
    top: 32%;
    right: 24px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 12px solid;
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-left: 12px solid rgba(0, 0, 0, 0);
    color: #FFF;
    content: "";
    pointer-events: none;
  }
}
.facbook {
  background-color: $facebook;
}
.twitter {
  background-color: $twitter;
}
.google {
  background-color: $google;
}
.pintrest {
  background-color: $pintrest;
}
.social-icon {
  ul {
    li {
      margin: 0 2px;
      a {
        i {
          color: #fff;
          font-size: 26px;
          height: 41px;
          width: 40px;
          padding: 8px 9px;
        }
      }
    }
  }
}
.martop {
  margin: 20px 0 24px;
}
.mb36 {
  margin-bottom: 36px;
}
.mb100 {
  margin-bottom: 100px;
}
.fix-banner {
  position: relative;
  width: 100%;
  margin: 0 auto;

}
.fixture-match {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
.vs {
margin-top: 70%;
}
// .fixture-data{
//   background: url(../img/fixture/banner.jpg);
//   background-repeat: no-repeat;
//   background-size: contain;
// }
.match-time {
  h1 {
    color: $white;
  }
}
.upper {
  text-transform: uppercase;
}
.capital {
  text-transform: capitalize;
}
.fixture {
  .panel {
    border: 0 solid transparent;
  }
  .panel-body {
    padding: 0;
  }
  .panel-title {
    .schedule {
      font-size: 30px;
      font-weight: 300;
      &:focus {
        outline: 0;
      }
    }
    &:focus {
      outline: 0;
    }
    h2 {
      &:focus {
        outline: 0;
      }
    }
  }
  .panel-heading {
    color: $base;
    background-color: $panel-head;
    border-color: $panel-head;
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
.slider {
  .glyphicon-chevron-left:before {
    content: '';
    display: inline-block;
    background: url(../img/arrow-left.png);
    background-repeat: no-repeat;
    height: 93px;
    width: 50px;
    z-index: 999;
    background-size: cover;
  }
  .glyphicon-chevron-right:before {
    content: '';
    display: inline-block;
    background: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    height: 93px;
    width: 50px;
    z-index: 999;
    background-size: cover;
  }
  .carousel-control.left {
    background: none;
    filter:none;
    left: -122px;
    overflow: hidden;
  }
  .glyphicon-chevron-left {
    width: 50px;
    height: 93px;
    margin-top: 0;
    font-size: 30px;
    left: 50%;
    @include transform(translateY(-50%));
    overflow: hidden;
  }
  .carousel-control {
    width: 10%;
    opacity: 1;
    height: 22%;
    top: 50%;
    @include transform(translateY(-50%));
  }
  .carousel-control.right {
    background: none;
    filter:none;
    right: -122px;
    overflow: hidden;
  }
  .glyphicon-chevron-right {
    width: 50px;
    height: 93px;
    margin-top: 0;
    font-size: 30px;
    right: 50%;
    @include transform(translateY(-50%));
  }
  .carousel-indicators {
    display: none;
  }
}
.img-slide-padding {
  padding: 0 7px 14px;
}
img.fancybox-image {
  opacity: 1;
}
#fancybox-thumbs.bottom img {
  opacity: 1;
}
#fancybox-thumbs {
  ul {
    li {
      @include transform(scale(0.8));
    }
  }
}
#fancybox-thumbs ul li.active {
  @include transform(scale(1));
}
.fancybox-nav {
  span {
    visibility: visible !important;
  }
}
.fancybox-next {
  right: -85px;
}
.fancybox-prev {
  left: -85px;
}
.fancybox-skin {
  position: relative;
  background: transparent;
  color: #444;
  text-shadow: none;
  border-radius: 0;
  @include box-shadow(rgba(0, 0, 0, 0.5) 0 0px 0px);
  padding: 0 !important;
  margin: 15px;
  border: 1px solid $white;
}
.fancybox-close {
  top: 0;
  right: 0;
}
.fancybox-prev span,
.fancybox-next span,
.fancybox-close {
  background-image: url(../img/fancybox_sprite.png);
}
.border-player {
  border: 1px solid #B41E72;
  z-index: 999;
  position: relative;
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.player-slider {
  .modal-content {
    background-color: transparent!important;
  }
  .player-image {
    img {
      width: auto!important;
    }
  }
  .flexslider {
    background: transparent!important;
    margin: 0 0 10px;
    border: 0;
    .flex-control-nav.flex-control-paging {
      display: none;
    }
  }
}
.name-sponser {
  padding-top: 18px;
}
.new-images {
  img {
    width: 100%;
  }
}
.w70 {
  width: 70%;
}
.section2.home {
  .image-holder {
    height: 450px;
    overflow: hidden;
  }
  .content-scroll {
    height: 450px;
  }
  .new-runner {
    ul {
      background: $brand-success;
      li {
        padding: 5px 0;
        &:before {
          content: url(../img/panther.png);
          padding: 0 10px;
          @include transform(scale(0.5));
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}
.news-us {
  padding: 0 20px;
  @include transition(all ease 300ms);
  background-color: #000;
  cursor: pointer;
  position: relative;
  &.active,
  &:hover {
    background-color: $pink;
    .new-item {
      background-color: $pink;
      border-bottom: 1px solid $pink;
      h4,
      .date {
        color: #fff;
      }
      h3 {
        color: #000;
      }
    }
    .hover-plam {
      opacity: 1;
    }
  }
  .hover-plam {
    position: absolute;
    left: -25px;
    top: 15px;
    width: 30px;
    opacity: 0;
  }
  .new-item {
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #666666;
    @include transition(all ease 300ms);
    h3 {
      color: $brand-primary;
      font-size: 16px;
      line-height: 1.5;
    }
    h4 {
      font-size: 14px;
    }
    .date {
      font-size: 12px;
    }
    h4,
    .date {
      color: #666666;
      line-height: 1.5;
    }
  }
}
.social-link-left {
  position: absolute;
  z-index: 9999;
  right: 5px;
  ul {
    list-style: none;
    li {
      a {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $brand-primary;
        &:hover {
          background-color: $brand-success;
        }
      }
    }
  }
}
@import "mobile";
