@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Hind:400,300,600,700,500);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */
$brand-primary: #b41e72 !default;
$brand-success: #4ecaf5 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$base: #262626 !default;
$white: #fff !default;
$pink: #ee4a9b !default;
$font-light: 300 !default;
$font-grey: #676767 !default;

$panel-head: #83daf8 !default;

$facebook: #3d5b97 !default;
$twitter: #25a8e0 !default;
$google: #ce3633 !default;
$pintrest: #cf2228 !default;

$font-family-sans-serif: "Oswald", "Hind","Voyage Fantastique","Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Oswald", "Hind", "Voyage Fantastique ","Advent Pro", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* font-family-serif*/

@font-face {
  font-family: "Voyage Fantastique";
  src: url("../fonts/voyagefantstraight.ttf");
  src: url("../fonts/voyagefantstraight.eot#iefix") format("embedded-opentype"), url("../fonts/voyagefantstraight.woff") format("woff"), url("../fonts/voyagefantstraight.ttf") format("truetype"), url("../fonts/voyagefantstraight.svg") format("svg");

}


/* mixing*/
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin x-appearance ($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

.row-flex {
  @include display(flex);
}

.col-flex {
  @include flex(1);
  position: relative;
}
body {
  padding-top: 0;
  font-family: $font-family-sans-serif;
  color: $base;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
a {
  text-decoration: none;
  color: $base;
  &:hover {
    text-decoration: none;
    color: $base;
  }
  &:focus{
      text-decoration: none;
  }
}
nav li:hover .dropdown-menu {
  display: block;
}
/* Start writing sass here */
.padding0 {
  padding: 0;
}
.margin0 {
  margin: 0;
}
.navbar-default {
  background-color: $brand-primary;
  border-color: $brand-primary;
}
.navbar-brand {
  padding: 0 7px;
}
.head-menu {
  padding: 18px 0 17px;
  li {
    font-size: 24px;
    padding: 0 5px;
    font-weight: $font-light;
    a {
      color: $white !important;
    }
  }
}
.banner-title {
  border-bottom: 4px solid $brand-success;
  position: relative;
      margin-top: 86px;
}
.page-title {
  position: absolute;
  width: 100%;
  bottom: -40px;
}
.title-name {
  background-color: $brand-success;
  @include transition(all 0.5s ease);
  color: $pink;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  padding: 17px 70px 16px;
  &:before {
    left: -16px;
    height: 100%;
    width: 32px;
    position: absolute;
    content: "";
    top: 0;
    background-color: $brand-success;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
    @include transition(all 0.5s ease);
    z-index: 9;
  }
  &:after {
    right: -16px;
    height: 100%;
    width: 32px;
    position: absolute;
    content: "";
    top: 0;
    background-color: $brand-success;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 9;
  }
  h1 {
    font-size: 34px;
    font-family: "Oswald";
  }
}
.bold-mrgin {
  font-weight: 600;
  margin: 0;
}
.f40 {
  font-size: 34px;
  text-transform: uppercase;
}
.color-pink {
  color: $pink;
}
.color-primary {
  color: $brand-primary;
}
.color-success {
  color: $brand-success;
}
.color-grey {
  color: $font-grey;
}
.pt5{
  padding-top:5px
}
.line140{
      line-height: 140%;
}
.panther-punch {
  position: relative;
  margin-bottom: -8px;
  z-index: 9;
  img {
    width: 72px;
  }
}
.about-content {
  margin: 100px 0 65px;
}
.font-base {
  p {
    font-size: 16px;
    font-weight: 300;
  }
}
.font-light{
  font-weight: 300;
}
.thumbnail {
  width: 180px;
  text-align: center;
  height: 180px;
  overflow: hidden;
  border: 0 solid;
  margin: 0 auto;
  img {
    margin: 0 auto;
  }
}
.margin-auto {
  text-align: center;
  margin: 0 auto;
}
.mb50 {
  margin-bottom: 50px;
}
.mb75 {
  margin-bottom: 75px;
}
.mr70 {
  margin-right: 70px;
}
.display-inline {
  display: inline-block;
}
.custom-list {
  ul {
    list-style: none;
    display: block;
    li {
      display: inline-block;
    }
  }
}
.f20 {
  font-size: 20px;
}
.sponser-logo {
  padding: 18px 0;
}
.first-footer {
  background-color: #e3e3e3;
}
.li-footer {
  width: 60px;
  height: 25px;
  overflow: hidden;
  margin: 0 20px;
  vertical-align: sub;
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}
.second-footer {
  background-color: $brand-success;
}
.font-f {
  font-family: 'hind';
}
.social-link {
  ul {
    li {
      a {
        i {
          background: $base;
          color: #fff;
          border-radius: 100%;
          height: 30px;
          width: 30px;
          padding: 8px 9px;
          font-size: 15px;
        }
      }
    }
  }
}
.pr15{
  padding-right: 15px;

}
.pall35{
      padding:42px 0px 35px;
}
.mb10{
  margin-bottom: 10px;
}
.pad5{
  padding: 0px 5px;
}
.mt100{
margin-top: 100px;
}
.mb200{
margin-bottom: 200px;
}
.player-image {
    height: 300px;
    display: block;
    overflow: hidden;
    text-align: center;
    img{
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
}
.player-box{
  background-color: #e5f7fe;
  padding: 20px 0px;
  margin: 0px 6px 15px 0px;
  border:2px solid #fff;
    @include transition(all 300ms ease);
  &:hover{
    border:2px solid $brand-primary;
  }
}
.f30{
  font-size: 30px;
}
.f25{
  font-size: 25px;
}
.voyeg-font{
  font-family: "Voyage Fantastique";
text-transform: uppercase;
letter-spacing: 2px;
font-style: italic;

}
.new-image {
    height: 330px;
    overflow: hidden;
    display: block;
    img{
      max-width: 100%;
      max-height: 100%;
    }
}
.btn-pink{
  color: #fff;
    background-color:$pink;
    border-color: $pink;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 5px 15px;
&:hover{
  color:$white;
}
&:focus{
  outline: 0;
}
}
.pro-cat {
  .checkbox-custom {
    opacity: 1;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    @include appearance(none);
  }
  .checkbox-custom-label {
    position: relative;
    font-weight: 400;
    &:before {
      content: '';
      background: transparent;
      border: 1px solid $base;
      display: inline-block;
      vertical-align: baseline;
      width: 15px;
      height: 15px;
      padding: 2px;
      margin-right: 10px;
      text-align: center;
    }
  }
  .checkbox-custom:checked + .checkbox-custom-label:before {
    background: $brand-primary;
  }
  label{
    span{
      font-weight: 300;
font-size: 18px;
    }
  }
}
.m15{
      margin: 0px 0px 15px;
}
.archives {
    background-color: #a6e4fa;
    padding: 30px 0px 30px 40px;
}
.pad-view{
      padding: 0px 0px 30px 14px;
}
hr {

    border-top: 2px solid $brand-success;
}
.wallpapper-img {
  @extend .new-image;
    height: 221px;

}
.wall-title {
    padding: 10px 0px 40px 0px;
}
.btn-primary{
  @extend .btn-pink;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
}
.mt-l100{
      margin: 100px 0px 20px 0px;
}
.wallpapper-download{
  img{
    height: 30px;
    vertical-align: text-bottom;
  }
}
.wallpapper-count {
    border: 1px solid;
    padding: 4px 10px 4px 10px;
        margin-left: 20px;
    span{
      font-size: 24px;
    }
}
.wallpapper-select{
  select{
    background-color:$brand-success;
font-size: 20px;
@include appearance(none);
cursor: pointer;

  }
  .form-control{
    height: 42px;
    border: 1px solid $brand-success;
   border-radius: 0px;

  }
&:after{
  position: absolute;
    top: 32%;
    right: 24px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 12px solid;
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-left: 12px solid rgba(0, 0, 0, 0);
    color: #FFF;
    content: "";
    pointer-events: none;
}
}
.facbook{
  background-color: $facebook
}
.twitter{
  background-color: $twitter;
}
.google{
  background-color: $google
}
.pintrest{
  background-color: $pintrest;
}
.social-icon{
  ul{
    li{
          margin: 0px 2px;
      a{
        i{

color: #fff;
font-size: 26px;
height: 41px;
width: 40px;
padding: 8px 9px;
        }
      }
    }
  }
}
.martop {
    margin: 20px 0px 24px 0px;
}
.mb36{
  margin-bottom: 36px
}
.mb100{
  margin-bottom: 100px;
}
.fix-banner {
    position: relative;
    width: 100%;
}
.fixture-match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.vs {
    line-height: 23;
    img{
          display: inline-block;
    }
}
.match-time{
  h1{
    color: $white;

  }

}
.upper{
  text-transform: uppercase;
}
.capital{
  text-transform: capitalize;
}
.fixture{
  .panel{
        border: 0px solid transparent;
  }
  .panel-body {
    padding: 0;
}
.panel-title{
  .schedule{
    font-size: 30px;
font-weight: 300;
  }
  &:focus{
    outline: 0;
  }
}
.panel-heading {
    color:$base;
    background-color: $panel-head;
    border-color:$panel-head;
    padding: 15px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
}
}
// .fix-logo {
//   @extend .new-image;
//   height: 312px;
// }
