<section>
  <div class="banner-title">
    <img src="img/banner/about-us.jpg" class="img-responsive" title="About-us" alt="About-us">
    <section>
      <div class="page-title text-center">
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">About us</h1>
        </div>
      </div>
    </section>
  </div>

</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-content font-base">
          <p>The Champions of the inaugural season of Star Sports Pro Kabaddi, Jaipur Pink Panthers represent the Pink City of Jaipur, Rajasthan in the league. Led by Navneet Gautam and coached by Kasinathan Baskaran, the team is owned by renowned Indian actor, Abhishek Bachchan.</p>
          <p>An avid fan of all sports – cricket, basketball, football and Kabaddi being his favourite games, Abhishek is a proud owner of Jaipur Pink Panthers and co-owns the Indian Super League’s franchise – Chennaiyin FC. Additionally, he is the captain and one of the founders of the All Stars Football Club (ASFC). Abhishek believes in bringing sports to the forefront for the younger generation in India and is committed to actively promote all kinds of sports.</p>
          <p>One of the most popular teams in the inaugural season, Jaipur Pink Panthers had many leading film and entertainment personalities dawning </p>
        </div>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="col-md-12">
          <div class="team-title text-center">
            <h2 class="bold-mrgin f40 color-pink mb50">Team</h2>
          </div>
        </div>
      </div>

    </section>
    <section class="mb50">
      <div class="row">

        <div class="col-md-6 " ng-repeat="data in team track by $index">
          <div class="row">

            <div class="col-md-5">
              <div class="team-img margin-auto">
                <div class="thumbnail">
                  <img ng-src="{{data.image}}">
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="mb50">
              <div class="team-info ">
                <h4 class="color-primary">{{data.name}} <span>({{data.desg}})</span></h4>
              </div>
              <div class="team-desc font-base">
              <p class="mr70">{{data.Desc}}</p>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</section>
