<section>
  <div class="banner-title">
    <img src="img/banner/about-us.jpg" class="img-responsive" title="About-us" alt="Jaipur Pink Panthers">
    <section>
      <div class="page-title text-center">
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Jaipur Pink Panthers">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin"><img src="img/players/titles.png" class="img-responsive" alt="title"></h1>
        </div>
      </div>
    </section>
  </div>

</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about-content font-base">
          <p>{{'Jaipur Pink Panthers is a professional kabaddi team based in Jaipur, Rajasthan that competes in the Pro Kabaddi League.'|translate}}</p>
        <p><strong>{{'Founded'|translate}}:</strong> {{'2014'|translate}}</p>
        <p><strong>{{'Owner'|translate}}:</strong> {{'Abhishek Bachchan'|translate}}</p>
        <p><strong>{{'Coach'|translate}}:</strong> {{'Balwan Singh'|translate}}</p>
        <p><strong>{{'Captain'|translate}}:</strong> {{'Jasvir Singh'|translate}}</p>
        <p><strong>{{'Home ground'|translate}}:</strong> {{'Sawai Mansingh stadium'|translate}}, {{'Jaipur'|translate}}</p>
        <!-- <p><strong>Team colours:</strong> Pink and Blue</p>
        <p><strong>Current squad:</strong> 15 Indian & 3 International players</p> -->
        <p>{{'Jaipur Pink Panthers are the champions of the first season of the Pro Kabaddi League in 2014.'|translate}}</p>
        <p class="uppercase-text margin0 pt20"><strong>{{"CONTACT US" | translate}}  : </strong></p>
        <p>info@jaipurpinkpanthers.com</p>
        </div>
      </div>
    </div>
    <!-- <section>
      <div class="row">
        <div class="col-md-12">
          <div class="team-title text-center">
            <h2 class="bold-mrgin f40 color-pink mb50 f24">Team</h2>
          </div>
        </div>
      </div>

    </section> -->
    <!-- <section class="mb50">
      <div class="row">

        <div class="col-md-6 " ng-repeat="data in team track by $index">
          <div class="row">

            <div class="col-md-5">
              <div class="team-img margin-auto">
                <div class="thumbnail">
                  <img ng-src="{{data.image}}">
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="mb50">
              <div class="team-info text-center-md">
                <h4 class="color-primary f16">{{data.name}} <span>({{data.desg}})</span></h4>
              </div>
              <div class="team-desc font-base text-center-md">
              <p class="mr70">{{data.Desc}}</p>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
  </div>
</section>
