<section>
  <div class="banner-title">
    <img src="img/banner/fancorner.jpg" class="img-responsive" title="Fan-Corner" alt="Fan-Corner">
    <section>
      <div class="page-title text-center">
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">FAN CORNER</h1>
        </div>
      </div>
    </section>
  </div>

</section>
<section class="mt100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sign-up">
          <h2 class="color-primary font-mob">SIGN UP</h2>
          <h4 class="line140 font-new">Register and get a chance to win exclusive jaipur pink panther merchandise, meet and greet with the players and home match tickets. </h4>
        </div>
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-4 col-sm-6">
        <div class="form-submit">
          <div class="form-group">
            <span>First Name</span>
            <input type="text" class="form-control" id="">
          </div>

        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-submit">
          <div class="form-group">
            <span>Last Name</span>
            <input type="text" class="form-control" id="">
          </div>

        </div>
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-4 col-sm-6">
        <div class="form-submit">
          <div class="form-group">
            <span>Mobile Number</span>
            <input type="tele" class="form-control" id="">
          </div>

        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="form-submit">
          <div class="form-group">
            <span>Email Address</span>
            <input type="email" class="form-control" id="">
          </div>

        </div>
      </div>
    </div>
    <div class="row mt30">
      <div class="col-md-12">
        <a href=""> <button class="btn btn-primary btn-by">SUBMIT</button></a>
          <div class="desc-sub mt50">
            <h3 class="color-primary font-stay">Stay tuned to our weekly contest on our social media pages to win some exclusive merchandise. </h3>
          </div>
          <div class="text-center custom-list pad30 mt30 mb100">
            <ul class="padding0">
              <li>
                <div class="social-logo">
                  <span>
                    <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank"><i class="fa fa-facebook"></i></a>
                  </span>
                </div>
              </li>
              <li>
                <div class="social-logo">
                  <span>
                    <a href="https://twitter.com/JaipurPanthers" target="_blank"><i class="fa fa-twitter"></i></a>
                  </span>
                </div>
              </li>
              <li>
                <div class="social-logo">
                  <span>
                    <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </span>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>
