<section>
  <div class="banner-title">
    <img src="img/banner/fancorner.jpg" class="img-responsive" title="Fan-Corner" alt="Fan-Corner">
    <section>
      <div class="page-title text-center">
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">FAN CORNER</h1>
        </div>
      </div>
    </section>
  </div>

</section>
<section class="mt100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="sign-up">
          <h2 class="color-primary">SIGN UP</h2>
          <h4>Register and get a chance to win exclusive jaipur pink panther merchandise, meet and greet with the players and home match tickets. </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-submit">
          <div class="input-group">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name">
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-submit">
          <div class="input-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name">
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-submit">
          <div class="input-group">
            <label>Mobile Number</label>
            <input type="tele" class="form-control" placeholder="Mobile Number">
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="form-submit">
          <div class="input-group">
            <label>Email Address</label>
            <input type="email" class="form-control" placeholder="Email Address">
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn btn-pink">SUBMIT</button>
          <div class="desc-sub">
            <h3 class="color-primary">Stay tuned to our weekly contest on our social media pages to win some exclusive merchandise. </h3>
          </div>
          <div class="text-center custom-list">
            <ul class="padding0">
              <li>
                <div class="social-logo">
                  <span>
                    <i class="fa fa-facebook"></i>
                  </span>
                </div>
              </li>
              <li>
                <div class="social-logo">
                  <span>
                    <i class="fa fa-twitter"></i>
                  </span>
                </div>
              </li>
              <li>
                <div class="social-logo">
                  <span>
                    <i class="fa fa-instagram"></i>
                  </span>
                </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</section>
