<div class="section1" auto-height>
  <div class="logo text-center">
    <img src="img/logo.png" alt="logo"/>
  </div>

  <div class="scroll text-center">
    Scroll
    <img src="img/mouse.png" alt="Scroll Down"/>
    down
  </div>
</div>

<div ng-include="template.header" class="template header header-home"></div>

<div class="section2">
  <div class="custom-slider">
    <div class="image-holder">
      <img src="img/home/home-slide.jpg" alt="Lorem Ipsum" />
    </div>
    <div class="content-scroll">
      <div class="news-list">
        <div class="new-item">
          <h3>New from the camp</h3>
          <h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </h2>
          <div class="date">
            MONDAY, NOVEMBER 30, 2015
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-runner">
    
  </div>
</div>
