<!-- <div class="section1" auto-height>
  <div class="center-position">
    <div class="logo text-center">
      <img src="img/logo-gif.gif" alt="Jaipur Pink Panthers" class="img-responsive"/>
    </div>

    <div class="scroll text-center color-primary upper">
      {{'Scroll'|translate}}
      <img src="img/mouse.png" alt="Jaipur Pink Panthers"/>
      {{'down'|translate}}
    </div>
  </div>
</div> -->
<!-- <div ng-include="template.header" class="template header header-home sticky-bottom" scroll></div> -->
<div class="section2 home">
    <div class="custom-slider">
        <div class="row margin0">
            <div class="col-sm-12 padding0">
                <div class="image-holder parent-height">
                    <uib-carousel interval="3000">
                        <uib-slide ng-repeat="new in sliderdata.english track by $index" ng-if="currentlang == 'en'" active="new.active" class="noshow english wallpapper-img">
                            <a href="{{new.link}}">
                                <img ng-src="{{new.image | serverimage}}" class="gallery-image" alt="Jaipur Pink Panthers">
                            </a>
                        </uib-slide>
                        <uib-slide ng-repeat="new in sliderdata.hindi track by $index" ng-if="currentlang == 'hi'" active="new.active" class="noshow hindi wallpapper-img">
                            <a href="{{new.link}}">
                                <img ng-src="{{new.image | serverimage}}" class="gallery-image" alt="Jaipur Pink Panthers">
                            </a>
                        </uib-slide>
                    </uib-carousel>
                </div>
            </div>
            <!-- <div class="col-sm-4 padding0">
                <div class="content-scroll">

                    <div class="news-us" ng-if="currentlang=='en'" ng-repeat="new in sliderdata.english track by $index" ng-click="changeSlide(new);" ng-class="{'active': new.active == true}">
                        <img src="img/home/panther-right.png" alt="Jaipur Pink Panthers" class="hover-plam">
                        <div class="news-list">
                            <div class="new-item padding20">
                                <h3 class="margin0 uppercase-text ">
                                    {{new.name}}
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="news-us" ng-if="currentlang=='hi'" ng-repeat="new in sliderdata.hindi track by $index" ng-click="changeSlide(new);" ng-class="{'active': new.active == true}">
                        <img src="img/home/panther-right.png" alt="Jaipur Pink Panthers" class="hover-plam">
                        <div class="news-list">
                            <div class="new-item padding20">
                                <h3 class="margin0 uppercase-text ">
                                    {{new.name}}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- //NEW UI -->
    <section class="banner-link ">
        <div class="container-fluid">
            <div class="row">
                <div class="co-md-12">
                    <div class="custom-list box-black text-center">
                        <ul class="new-item-sec new-listing-name margin0">
                            <li ng-if="currentlang=='en'" ng-repeat="new in sliderdata.english track by $index" ng-click="changeSlide(new);" ng-class="{'active': new.active == true}"
                                animation="slide" animationloop="true" class="news-below">
                                <img src="img/home/panther-top.png" alt="Jaipur Pink Panthers" class="hover-plams">
                                <h3 class="margin0 uppercase-text ">
                                    {{new.name}}
                                </h3>
                            </li>
                            <li ng-if="currentlang=='hi'" ng-repeat="new in sliderdata.hindi track by $index" ng-click="changeSlide(new);" ng-class="{'active': new.active == true}"
                                animation="slide" animationloop="true" class="news-below">
                                <img src="img/home/panther-top.png" alt="Jaipur Pink Panthers" class="hover-plams">
                                <h3 class="margin0 uppercase-text ">
                                    {{new.name}}
                                </h3>
                            </li>
                        </ul>
                        <!-- <flex-slider flex-slide="new in sliderdata.english track by $index" ng-click="changeSlide(new);" ng-class="{'active': new.active == true}" animation="slide" item-width="200" item-margin="10" animationloop="true" move="2" class="news-below">

                            <li class="text-center">
                              <h3 class="margin0 uppercase-text ">
                {{new.name}}
          </h3>
                            </li>

                        </flex-slider> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //END -->
    <!-- <div class="custom-slider">
    <div class="row margin0">
      <div class="col-sm-8 padding0">
        <div class="image-holder parent-height">
          <uib-carousel interval="3000">
            <uib-slide ng-repeat="new in news track by $index" active="new.active">
              <a href="{{new.link}}">
                <img ng-src="{{new.image}}" class="gallery-image" alt="Jaipur Pink Panthers">
              </a>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
      <div class="col-sm-4 padding0">
        <div class="content-scroll">
          <div class="news-us" ng-repeat="new in news track by $index" ng-click="changeSlide(new);" ng-class="{'active': new.active == true}">
            <img src="img/home/panther-right.png" alt="Jaipur Pink Panthers" class="hover-plam">
            <div class="news-list">
              <div class="new-item padding20">
                <h3 class="margin0 uppercase-text ">
                  {{new.name|translate}}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
    <div class="new-runner marquee" style="width:100%;overflow:hidden;">
        <ul class="list-inline lined" mycircle style="width:18000px;">
            <li>
                <span class="color-pink bold">Top Fan Tweets:
                </span>@JaipurPanthers #RoarForPanthers #Panthers We shouldn't tell our weakness for the
                loss.. We can do anything if we believe truly ourselves
                <span>by @renceabishek</span>
            </li>
            <li>@JaipurPanthers @ProKabaddi . “Never let the fear of striking out get in your way.” roar like a panther n attack
                them..come on..#LePanga
                <span>by ‏@sivakumar1252</span>
            </li>
            <li>@JaipurPanthers Ye Ek Khel Hai Har/Jeet to Chalti raheti Hai.be positive. New day new game.#LePanga Har ke Bad
                Hi Jeet Hai.#RoarForPanthers
                <span>by ‏‏@janidipak40</span>
            </li>
            <li>@SrBachchan one loss for @JaipurPanthers but 2014 Champ come back with louder #Roar #Roaringforvictory #RoarLionRoar
                <span>by ‏‏@‏KushDaunawat14</span>
            </li>
            <li>I believe on @JaipurPanthers They will not let us down. Yesssss we will do it. My fav. #jasvir the #SMILING_KILLER
                COme on @JaipurPanthers
                <span>by ‏‏@bmraj100</span>
            </li>
            <li>@BachchanJrFC Saamne Wale Ko Dikha Do Kya Hota Hai Fear, Bhaari Padega Uspe Aaj Har Ek Panther @JaipurPanthers
                @juniorbachchan #LePanga
                <span>
                    by ‏‏@nayangotecha</span>
            </li>
            <li>@JaipurPanthers #LePanga go for it boyss you can n have done this! All the best n #RoarForPanthers @juniorbachchan
                <span>by ‏‏@Ruth4ashab</span>
            </li>
            <li>#RoarForPanthers --We will Drip Last blood Of Our #PinkBlood But will Never Give Up #Matchday Panga #Panthers
                #LePanga @JaipurPanthers
                <span>by ‏‏@Dhillon_WWE</span>
            </li>
            <li>@JaipurPanthers #LePanga #JasvirSingh's presence makes a difference. The #EmptyRaid master #RoarForPanthers #LePanga
                @ProKabaddi
                <span>by ‏‏@arnavini</span>
            </li>
            <li>The smile arrived late but good to see it stay there till the end @juniorbachchan! Solid start @JaipurPanthers
                at home @ProKabaddi! #LePanga
                <span>by ‏‏@suhailchandhok</span>
            </li>
            <li>#Jasvir from @JaipurPanthers plays #Kabaddi similarly to how @virendersehwag plays #Cricket @ProKabaddi #LePanga
                <span>by ‏‏@jay_jumbo</span>
            </li>
            <li>are you kidding me #SmilingAssasin #jasvirSingh, 0 points for lon and 5 points in one raid. No wonder we #roarforPanthers
                @JaipurPanthers
                <span>by ‏‏@ArvindSivdas</span>
            </li>
            <li>The Champions roared and how! Yayyy congratulations @JaipurPanthers @juniorbachchan.. Woo-hoo!! 😍💜😘
                <span>by ‏‏@filmykiida</span>
            </li>
            <li>@JaipurPanthers @juniorbachchan superb amazing ab se bas jeetna jeetna only jeetna. Ab Jaipur pink Panthers se
                #LePanga
                <span>by ‏‏@tanujasamar1994</span>
            </li>
            <li>So... They can stop us? No no no! @juniorbachchan #RoarForPanthers #ProKabaddi @JaipurPanthers
                <span>by ‏‏@iMichelle89</span>
            </li>
            <li>@ProKabaddi #LePanga Kar diya hai Humne JEET ka agaaz ab @JaipurPanthers ka hoga waar Jeet ne liye hai hum TAIYAAR
                Beware from our PRAHAAR..
                <span>by ‏‏@TweetstarSanjay</span>
            </li>
            <li>@JaipurPanthers Now it's time to roar and tell others why r we season 1 winner.. #GoPanther #LePanga
                <span>by ‏‏@shahi07</span>
            </li>
            <li>I will not say BEST OF LUCK rather I would like to say ALL THE BEST bcoz we make our LUCK by our #HARDWORK. COME
                ON @JaipurPanthers
                <span>by ‏‏@bmraj100</span>
            </li>
            <li>brain &amp; brawn will lead @JaipurPanthers @PuneriPaltan #LePanga #KhelBadlega #roarforpanthers @juniorbachchan
                <span>by ‏‏@Khel_Gyani</span>
            </li>
            <li>@JaipurPanthers Play Safe, Play Well. Jasvir is in the house. #RoarForPanthers @juniorbachchan @bunty_walia
                <span>by ‏‏@NiTiSHmurthy</span>
            </li>
        </ul>
    </div>
</div>
<section class="marg-section no-mb relative">
    <div class="whiteline hidden-xs"></div>
    <div class="box-right boxer hidden-xs"></div>
    <div class="box-left boxer hidden-xs"></div>
    <div class="point-bkp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <a ui-sref="fixtures" ng-if="journeyData.status === '1'"><img ng-src="{{journeyData.image | serverimage1}}" class="img-responsive" alt="Champions Patna Pirates"></a>
                    <div class="white-line-pad" ng-if="journeyData ==='No data found' || journeyData.status != '1'">
                        <div class="head-table text-center">
                            <h1 class="color-white font-tbl">{{'POINTS TABLE'|translate}}</h1>
                        </div>
                        <div class="nxt-match">
                            <div class="point-tbl mt30">
                                <div class="points-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>W</th>
                                                <th>L</th>
                                                <th>D</th>
                                                <th>SD</th>
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="odd-even">
                                            <tr>
                                                <td>1</td>
                                                <td>Telugu Titans</td>
                                                <td>14</td>
                                                <td>9</td>
                                                <td>5</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>47</td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Jaipur Pink Panthers</td>
                                                <td>14</td>
                                                <td>9</td>
                                                <td>5</td>
                                                <td>1</td>
                                                <td>0</td>
                                                <td>47</td>
                                            </tr>
                                            <!--<tr ng-repeat="data in tables">
    <td>{{data.no}}</td>
    <td>{{data.name}}</td>
    <td>{{data.play}} </td>
     <td>{{data.win}}</td>
    <td>{{data.loss}}</td>
    <td>{{data.draw}}</td>
     <td>{{data.sd}}</td>
    <td>{{data.pts}}</td>
</tr>-->
                                        </tbody>
                                        <!--<tbody class="odd-even">
                                            <tr class="{{ data.name | limitTo: 3 }}" ng-repeat="data in table" ng-if="table.length>0">
                                                <td>{{$index +1}}</td>
                                                <td>{{data.name || 'Loading..' | translate}}</td>
                                                <td ng-if="data.group==1">A</td>
                                                <td ng-if="data.group==2">B</td>
                                                <td>{{data.played}}</td>
                                                <td>{{data.wins}}</td>
                                                <td>{{data.lost}}</td>
                                                <td>{{data.draw}}</td>
                                                <td>{{data.point}}</td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <!-- <div class="champion">
                        <img ng-src="img/{{'champion'|translate}}.jpg" class="img-responsive" alt="Champions Patna Pirates">
                    </div> -->
                    <a ui-sref="fixtures" ng-if="congratulationData.status === '1'"><img ng-src="{{congratulationData.image | serverimage1}}" class="img-responsive" alt="Champions Patna Pirates"></a>
                    <div class="nxt-match white-line-pad" ng-if="congratulationData ==='No data found' || congratulationData.status !='1' ">
                        <div class="head-table text-center">
                            <h1 class="color-white font-tbl text-uppercase" ng-hide="latestMatchOn">{{latestmatch.matchtitle}}</h1>
                            <!--<h1 class="color-white font-tbl" ng-show="latestMatchOn">{{'MATCH UPDATE'|translate}}</h1>
              -->
                            <h1 class="color-white font-tbl text-uppercase">{{'SEASON 5 OPENER' | translate}}</h1>
                        </div>
                        <div class="match-schd  pt530">
                            <div class="row">
                                <div class="col-md-4 padding0 col-sm-4 col-xs-4">
                                    <div class="new-logo">
                                        <img ng-src="{{latestmatch.team1id|teamImg}}" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-4 padding0 col-sm-4 col-xs-4">
                                    <div class="mt30">
                                        <img src="img/object/back-vs.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-md-4 padding0 col-sm-4 col-xs-4">
                                    <div class="new-logo">
                                        <img ng-src="{{latestmatch.team2id|teamImg}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="gradient-bar homeie" ng-show="latestMatchOn">
                <div class="row">
                  <div class="col-md-4 padding0 col-xs-4">
                    <div class="scorer text-center {{latestmatch.team1|spaceToDash}}">{{latestmatch.score1 || '0'}}</div>
                  </div>
                  <div class="col-md-4 padding0 col-xs-4 fz24">
                    <div class="match-time">
                      {{latestmatch.totalmatchtime}}
                    </div>
                  </div>
                  <div class="col-md-4 padding0 col-xs-4">
                    <div class="scorer text-center {{latestmatch.team2|spaceToDash}}">{{latestmatch.score2 || '0'}}</div>
                  </div>
                </div>
              </div>-->
                            <!--<div class="clearfix"></div>
              <div class="text-center" ng-show="latestMatchOn">
                <a ui-sref="fixtures({id:1})" class="btn btn-sucess big-btn" target="_blank">Match Report</a>
              </div>-->
                        </div>
                        <div class="text-center color-white">
                            <h4 class="text-capitalize  font-bold ">
                                Sawai mansingh stadium,jaipur
                            </h4>
                            <span class="text-uppercase">june 20 2016,</span>
                            <span>20:00 (IST)</span>
                        </div>
                        <!--<div class="text-center color-white" >

              {{latestmatch.starttimedate}} (IST)
              <br> {{latestmatch.stadium}}
            </div>-->
                        <!--ng-hide="latestMatchOn"-->
                        <div class="next-match">
                            <!--ng-hide="latestMatchOn"-->
                            <div class="count-time custom-list text-center">
                                <ul class="padding0">
                                    <li>
                                        <div class="time-hrs">
                                            <h1 class="color-white font-tbl">
                                                <span>{{countdown.days | twodigit}}</span>
                                                <b>:</b>
                                            </h1>
                                            <span class="color-white pr20">DAYS</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="time-hrs">
                                            <h1 class="color-white font-tbl">
                                                <span>{{countdown.hours | twodigit}}</span>
                                                <b>:</b>
                                            </h1>
                                            <span class="color-white pr20">HOURS</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="time-hrs">
                                            <h1 class="color-white font-tbl">
                                                <span>{{countdown.minutes | twodigit}}</span>
                                                <b>:</b>
                                            </h1>
                                            <span class="color-white pr20">MINUTES</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="time-hrs">
                                            <h1 class="color-white font-tbl">
                                                <span>{{countdown.seconds | twodigit}}</span>
                                            </h1>
                                            <span class="color-white">SECONDS{{starttimedate | date}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center button-set">
                                <div class="text-center display-inline spacing-lr">
                                    <!--ng-show="latestMatchOn"-->
                                    <a ui-sref="fixtures({id:1})" class="btn btn-sucess big-btn" target="_blank">BOOK TICKETS</a>
                                </div>
                                <div class="text-center display-inline spacing-lr">
                                    <!--ng-show="latestMatchOn"-->
                                    <a ui-sref="fixtures({id:1})" class="btn btn-sucess big-btn" target="_blank">ADD TO CALENDAR</a>
                                </div>
                            </div>
                            <!-- <div class="text-center" ng-hide="latestMatchOn">
                <a ng-href="{{latestmatch.bookticket}}" class="btn btn-sucess mt15" target="_blank" ng-if="latestmatch.ishome == '1'">BOOK TICKETS</a>
                <a ng-href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{latestmatch.team1 | spaceToPlus}}+vs+{{latestmatch.team2 | spaceToPlus}}&dates={{calendarDate.from}}/{{calendarDate.to}}&location={{latestmatch.stadium | spaceToPlus}}&details={{latestmatch.team1 | spaceToPlus}}+vs+{{latestmatch.team2 | spaceToPlus}}+{{latestmatch.starttimedate | spaceToPlus}}+(IST)+{{latestmatch.stadium | spaceToPlus}}+http://jaipurpinkpanthers.com/&trp=true&pli=1&sf=true&output=xml#eventpage_6"
                  class="btn btn-sucess mt15" target="_blank">ADD TO CALENDAR</a>
              </div> -->
                            <!-- </div>
            </div>
        </div>
    </div>

                    <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
</section>
<section>
    <div class="pnt-wrd">
        <div class="container">
            <div class="panther-world m-min84">
                <a href="http://wohlig.co.in/pantherworld" target="_blank">
                <img ng-if="currentlang=='en'" src="img/new-banner.png" alt="Jaipur Pink Panthers" class="img-responsive">
                <img ng-if="currentlang=='hi'" src="img/new-hindi.png" alt="Jaipur Pink Panthers" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="roar-pnt">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12  padding0">
                    <div class="pl-contest gallery-album">
                        <img ng-src="{{guesswhoData.image | serverimage}}" alt="Jaipur Pink Panthers" class="img-responsive">
                        <div class="pl-link  text-center">
                            <div class="display-inline">
                                <h4 class="uppercase-text color-white">{{'play this contest on'|translate}} </h4>
                            </div>
                            <div class="social-link custom-list display-inline text-center-md m-l15">
                                <ul class="padding0 margin0">
                                    <li>
                                        <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/JaipurPanthers" target="_blank">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xs-12 padding0">
                    <div class="pl-contest-rg text-center">
                        <ul class="padding0 margin0">
                            <li class="nomarg">
                                <div class="img-list-box gallery-album" ng-click="isCheckLoggedIn('Game')">
                                    <img src="img/home/Templatesgame.jpg" alt="Jaipur Pink Panthers">
                                    <div class="cn-title">
                                        <h4 class="uppercase-text color-white">{{'Game' |translate}}</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="nomarg">
                                <div class="img-list-box gallery-album" ng-click="isCheckLoggedIn('JPP')">
                                    <img src="img/home/Templates-547x345--JPP-TV.jpg" alt="Jaipur Pink Panthers">
                                    <div class="cn-title">
                                        <h4 class="uppercase-text color-white">{{'JPP TV' |translate}}</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="marg">
                                <div class="img-list-box gallery-album" ng-click="isCheckLoggedIn('Gallery')">
                                    <img src="img/home/Templates-547x345-Photo-Gallery-.jpg" alt="Jaipur Pink Panthers">
                                    <div class="cn-title">
                                        <h4 class="uppercase-text color-white">{{'Gallery'|translate}}</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="marg">
                                <div class="img-list-box gallery-album" ng-click="isCheckLoggedIn('WALLPAPERS')">
                                    <img src="img/home/Templates-547x345--wallpaper.jpg" alt="Jaipur Pink Panthers">
                                    <div class="cn-title">
                                        <h4 class="uppercase-text color-white">{{'WALLPAPERS' | translate}}</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" bg-greys subcribe-bg">
    <div class="container ">
        <div class=" bg mobile-css">
            <div class="row">
                <div class="col-md-5 col-xs-5">
                    <div class="display-inline">
                        <div class="mob-icon">
                            <img src="img/new/h6.png" alt="Jaipur Pink Panthers" class="mt-min-70s">
                        </div>
                    </div>
                    <div class="display-inline text-line pt30s">
                        <!--<h4 class="uppercase-text color-black font-bold">{{'enter your mobile number' | translate}} </h4>
                        <h4 class="uppercase-text color-black font-bold">{{'to download jpp app'|translate}}</h4>-->
                          <h4 class="uppercase-text color-black font-bold">{{'Download the JPP App'|translate}}</h4>
                    </div>
                </div>
                <!--<div class="col-md-4 col-xs-7">
                    <div class="sub-form">
                        <form class="form-inline">
                            <div class="form-group">
                                <span class="sp-num">+91</span>
                                <input type="email" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-default go-btn">GO</button>
                        </form>
                    </div>
                </div>-->
                <div class="col-md-3 hidden-xs float-right">
                    <div class="pt40s">
                        <div class="display-inline social-img">
                            <img src="img/play.png" alt="Jaipur Pink Panthers">
                        </div>
                        <div class="display-inline social-img p1-10">
                            <img src="img/app.png" alt="Jaipur Pink Panthers">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="mbanner">
    <div class="container">
        <span>{{'Sign up and become part of the Panther Family. Exclusive offers and lots more'|translate}}!</span>
        <div class="pink-splasher">
            <a ui-sref="fan-corner" class="btn btn-sucess big-btn">{{'CLICK HERE'|translate}}</a>
        </div>
    </div>
</div> -->
<!-- <div class="section3 no-mt marg-section">
<div class="home-player-slider">
<div class="slider-social">
<a ui-sref="players">
  <div class="banner-home">
    <img src="img/home/Players-Banner.jpg" alt="" class="img-responsive">
  </div>
</a>
</div>
</div>
</div> -->
<!-- <div class="section4">
    <div class="box-home">
        <div class="row margin0">
            <div class="col-sm-6 padding0">
                <a ui-sref="fixtures({id:1})">
                    <div class="cont-box mr2 mb2">
                        <div class="img-holder">
                            <img ng-src="img/home/{{'box1'|translate}}.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 padding0">
                <a ui-sref="gallery">
                    <div class="cont-box ml2 mb2">
                        <div class="img-holder">
                            <img ng-src="img/home/{{'box2'|translate}}.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row margin0">
            <div class="col-sm-6 padding0">
                <a ui-sref="news-media">
                    <div class="cont-box mr2 mt2">
                        <div class="img-holder">
                            <img ng-src="img/home/{{'box3'|translate}}.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 padding0">
                <a ui-sref="wallpaper">
                    <div class="cont-box ml2 mt2">
                        <div class="img-holder">
                            <img ng-src="img/home/{{'box4'|translate}}.jpg" alt="Jaipur Pink Panthers" class="img-responsive">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->
<section class="hidden-xs">
    <div class="container-fluid padding0">
        <div class="row margin0">
            <div class="col-md-6 padding0">
                <div class="by-ticket">
                    <a ui-sref="Comingsoon" ng-if="currentlang=='en'"> <img src="img/homes/buyticktes.jpg" alt="" class="img-responsive"></a>
                    <a ui-sref="Comingsoon" ng-if="currentlang=='hi'">
                        <img src="img/homes/journeys-hindi.jpg" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-md-6 padding0">
                <div class="by-merchandise">
                    <a ui-sref="Comingsoon" ng-if="currentlang=='en'"><img src="img/homes/merchandise.jpg" alt="" class="img-responsive"></a>
                    <a ui-sref="Comingsoon" ng-if="currentlang=='hi'"><img src="img/homes/journeys-hindi.png" alt="" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//-->

<section class="visible-xs hidden-sm hidden-md">
    <div class="container-fluid padding0">
        <div class="row margin0">
            <div class="col-md-6 padding0">
                <div class="by-ticket">

                    <a ui-sref="Comingsoon" ng-if="currentlang=='en'"> <img src="img/homes/buyticktes.jpg" alt="" class="img-responsive"></a>
                    <a ui-sref="Comingsoon" ng-if="currentlang=='hi'">
                        <img src="img/homes/journeys-hindi.jpg" alt="" class="img-responsive">
                    </a>
                </div>
            </div>
            <div class="col-md-6 padding0">
                <div class="by-merchandise">
                     <a ui-sref="Comingsoon" ng-if="currentlang=='en'"> <img src="img/homes/merchandise.jpg" alt="" class="img-responsive"></a>
                    <a ui-sref="Comingsoon" ng-if="currentlang=='hi'">
                        <img src="img/homes/journeys-hindi.png" alt="" class="img-responsive">
                    </a>
                    <!--<a ui-sref="ticket-merchandise" ng-if="currentlang=='en'"><img src="img/homes/journeys.png" alt="" class="img-responsive"></a>
                    <a ui-sref="ticket-merchandise" ng-if="currentlang=='hi'"><img src="img/homes/journeys-hindi.png" alt="" class="img-responsive"></a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--//desktop//-->
<section class="section5 back-img hidden-xs hidden-sm">
    <div class="container">
        <h1 class=" text-center bold text-uppercase color-primary">{{'Social Hub' | translate}}</h1>
        <!--<div class="tab makeActive-service" ng-init="viewDetail=1">

                  <ul class="list-inline text-center ">
                      <li class="package-bg   view-data"  ng-click="viewDetail = 1;" ng-class="{'active': viewDetail==1, '': viewDetail!==1}">
                         <div class="social-logo support-icon ">
                        <span>
               <i class="fa fa-facebook"></i>

            </span>
            </div>
                     </li>

                     <li class="package-bg     view-data" ng-click="viewDetail=2;" ng-class="{'active': viewDetail==2, '': viewDetail!==2}">
                         <div class="social-logo support-icon ">
                        <span>
                 <i class="fa fa-twitter"></i>
            </span>
            </div>
                     </li>

                     <li class="package-bg   view-data" ng-click="viewDetail=3;" ng-class="{'active': viewDetail==3, '': viewDetail!==3}">
                        <div class="social-logo support-icon ">
                        <span>
              <i class="fa fa-instagram"></i>

            </span>
            </div>
                     </li>
                  </ul>
               </div>
               ng-show="viewDetail == 1"-->

<!--social hub-->

        <!--<div class="design">
            <div class="pack-one text-center">
                <div class="all-movies masonry-width">
                    <div masonry>
                        <div class="masonry-brick" ng-repeat="brick in bricks">
                            <div class="masonry-box">
                                <div class="img-mason relative">
                                    <a ng-if="brick.img" href="{{brick.img}}" class="fancybox-thumb" rel="fancybox-thumb">
                                        <img ng-src="{{brick.img}}" alt="A masonry brick">
                                    </a>
                                    <div class="infois text-left">
                                        <div class="min-logos display-inline">
                                            <img src="img/mini-logo.png" class="img-responsive" alt="logo">
                                        </div>
                                        <div class="inois-info display-inline ">
                                            <p class="margin0">{{brick.title}}</p>
                                            <span>like this page</span>
                                            <span>5 hrs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <p class="text-justify">{{brick.info}}</p>
                                    <span class="social-icons"></span>
                                    <span class="social-text"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


        <!--social hub-->


       <iframe src='https://www.juicer.io/api/feeds/jaipurpinkpanthers/iframe' frameborder='0' width='1000' height='1000' style='display:block;margin:0 auto;'></iframe>
        <!--<div class="design" ng-show="viewDetail == 2">
               <div class="pack-one text-center">
                   <h2>hello</h2>

               </div>

               </div>
                 <div class="design" ng-show="viewDetail == 3">
               <div class="pack-one text-center">
                   <h2>hi</h2>
               </div>

               </div>-->
    </div>
</section>
<!--//desktop//-->
<!--//ipad//-->
<section class="section5 back-img visible-sm hidden-xs hidden-md">
    <div class="container">
        <h1 class=" text-center bold text-uppercase color-primary">{{'Social Hub' | translate}}</h1>
        <!--<div class="tab makeActive-service" ng-init="viewDetail=1">

                  <ul class="list-inline text-center ">
                      <li class="package-bg   view-data"  ng-click="viewDetail = 1;" ng-class="{'active': viewDetail==1, '': viewDetail!==1}">
                         <div class="social-logo support-icon ">
                        <span>
               <i class="fa fa-facebook"></i>

            </span>
            </div>
                     </li>

                     <li class="package-bg     view-data" ng-click="viewDetail=2;" ng-class="{'active': viewDetail==2, '': viewDetail!==2}">
                         <div class="social-logo support-icon ">
                        <span>
                 <i class="fa fa-twitter"></i>
            </span>
            </div>
                     </li>

                     <li class="package-bg   view-data" ng-click="viewDetail=3;" ng-class="{'active': viewDetail==3, '': viewDetail!==3}">
                        <div class="social-logo support-icon ">
                        <span>
              <i class="fa fa-instagram"></i>

            </span>
            </div>
                     </li>
                  </ul>
               </div>
               ng-show="viewDetail == 1"-->

<!--social hub-->

        <!--<div class="design">
            <div class="pack-one text-center">
                <div class="all-movies masonry-width">
                    <div masonry>
                        <div class="masonry-brick" ng-repeat="brick in bricks">
                            <div class="masonry-box">
                                <div class="img-mason relative">
                                    <a ng-if="brick.img" href="{{brick.img}}" class="fancybox-thumb" rel="fancybox-thumb">
                                        <img ng-src="{{brick.img}}" alt="A masonry brick">
                                    </a>
                                    <div class="infois text-left">
                                        <div class="min-logos display-inline">
                                            <img src="img/mini-logo.png" class="img-responsive" alt="logo">
                                        </div>
                                        <div class="inois-info display-inline ">
                                            <p class="margin0">{{brick.title}}</p>
                                            <span>like this page</span>
                                            <span>5 hrs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <p class="text-justify">{{brick.info}}</p>
                                    <span class="social-icons"></span>
                                    <span class="social-text"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


        <!--social hub-->


       <iframe src='https://www.juicer.io/api/feeds/jaipurpinkpanthers/iframe' frameborder='0' width='700' height='1000' style='display:block;margin:0 auto;'></iframe>
        <!--<div class="design" ng-show="viewDetail == 2">
               <div class="pack-one text-center">
                   <h2>hello</h2>

               </div>

               </div>
                 <div class="design" ng-show="viewDetail == 3">
               <div class="pack-one text-center">
                   <h2>hi</h2>
               </div>

               </div>-->
    </div>
</section>
<!--//ipad//-->
<!--//phone//-->
<section class="section5 back-img visible-xs hidden-sm hidden-md">
    <div class="container">
        <h1 class=" text-center bold text-uppercase color-primary">{{'Social Hub' | translate}}</h1>
        <!--<div class="tab makeActive-service" ng-init="viewDetail=1">

                  <ul class="list-inline text-center ">
                      <li class="package-bg   view-data"  ng-click="viewDetail = 1;" ng-class="{'active': viewDetail==1, '': viewDetail!==1}">
                         <div class="social-logo support-icon ">
                        <span>
               <i class="fa fa-facebook"></i>

            </span>
            </div>
                     </li>

                     <li class="package-bg     view-data" ng-click="viewDetail=2;" ng-class="{'active': viewDetail==2, '': viewDetail!==2}">
                         <div class="social-logo support-icon ">
                        <span>
                 <i class="fa fa-twitter"></i>
            </span>
            </div>
                     </li>

                     <li class="package-bg   view-data" ng-click="viewDetail=3;" ng-class="{'active': viewDetail==3, '': viewDetail!==3}">
                        <div class="social-logo support-icon ">
                        <span>
              <i class="fa fa-instagram"></i>

            </span>
            </div>
                     </li>
                  </ul>
               </div>
               ng-show="viewDetail == 1"-->

<!--social hub-->

        <!--<div class="design">
            <div class="pack-one text-center">
                <div class="all-movies masonry-width">
                    <div masonry>
                        <div class="masonry-brick" ng-repeat="brick in bricks">
                            <div class="masonry-box">
                                <div class="img-mason relative">
                                    <a ng-if="brick.img" href="{{brick.img}}" class="fancybox-thumb" rel="fancybox-thumb">
                                        <img ng-src="{{brick.img}}" alt="A masonry brick">
                                    </a>
                                    <div class="infois text-left">
                                        <div class="min-logos display-inline">
                                            <img src="img/mini-logo.png" class="img-responsive" alt="logo">
                                        </div>
                                        <div class="inois-info display-inline ">
                                            <p class="margin0">{{brick.title}}</p>
                                            <span>like this page</span>
                                            <span>5 hrs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <p class="text-justify">{{brick.info}}</p>
                                    <span class="social-icons"></span>
                                    <span class="social-text"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->


        <!--social hub-->


       <iframe src='https://www.juicer.io/api/feeds/jaipurpinkpanthers/iframe' frameborder='0' width='300' height='1000' style='display:block;margin:0 auto;'></iframe>
        <!--<div class="design" ng-show="viewDetail == 2">
               <div class="pack-one text-center">
                   <h2>hello</h2>

               </div>

               </div>
                 <div class="design" ng-show="viewDetail == 3">
               <div class="pack-one text-center">
                   <h2>hi</h2>
               </div>

               </div>-->
    </div>
</section>
<!--//phone//-->
<!-- <section class="marg-section">
    <div class="social-back ">
        <div class="container">

            <div class="text-center social-bk">
                <img src="img/object/back-pink.png" class="img-responsive" alt="Jaipur Pink Panthers">
                <div class="social-hub">
                    <h1 class="color-white">
            {{'SOCIAL HUB'|translate}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="social-logo text-center">
                        <span>
                <i class="fa fa-facebook"></i>
            </span>
                        <div class="feed-social mt30">

                            <div class="fb-page" data-href="https://www.facebook.com/JaipurPinkPanthers/" data-tabs="timeline" data-width="360" data-height="485" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/JaipurPinkPanthers/">
                                        <a href="https://www.facebook.com/JaipurPinkPanthers/">Jaipur Pink Panthers</a>
                                    </blockquote>
                                </div>
                            </div>

                            <div id="fb-root"></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="social-logo text-center ">
                        <span>
                <i class="fa fa-twitter"></i>
            </span>
                        <div class="feed-social mt30 sm-ht">
                            <a class="twitter-timeline" href="https://twitter.com/JaipurPanthers">Tweets by JaipurPanthers</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="social-logo text-center ">
                        <span>
                <i class="fa fa-instagram"></i>
            </span>
                        <div class="feed-social mt30">

                            <iframe src="//lightwidget.com/widgets/7b766cab3d1a5097ba679fb551830aa9.html" id="lightwidget_7b766cab3d" name="lightwidget_7b766cab3d" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->
<section>
    <!-- <div class="back-img">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="demo-box play-store">
            <img src="img/android.png" alt="Desktop and Mobile" class="img-responsive doneLoading">
          </div>
          <div class="text-center appdownload">
            <h3 class="downloadapp">{{'DOWNLOAD'| translate}}</h3>
            <h3 class="downloadapp">{{'ANDROID APP'| translate}}</h3>
          </div>
          <div class="app-store play-store">
            <a href="https://play.google.com/store/apps/details?id=com.jaipurpinkpanthers.android" target="_blank"><img src="img/play.png" class="img-responsive doneLoading" alt="Jaipur Pink Panthers"></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="panthers text-center text-uppercase">
            <h2>{{'Panthers'| translate}}</h2>
            <p class="smalls">{{'we have exciting contests'| translate}}</p>
            <p class="medium">{{'for all of you on our'| translate}}</p>
            <p class="large">{{'Social Media pages!'| translate}}</p>
          </div>
          <div class="pink-splash text-center">
            <h2>{{'Up For Grabs:'| translate}}</h2>
            <p>{{'VIP Tickets Of Our Home Games,'| translate}}</p>
            <p>{{'Exclusive JPP Merchandise'| translate}}</p>
            <p>{{'&amp; much more'| translate}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="demo-box play-store">
            <img src="img/ios.png" alt="Desktop and Mobile" class="img-responsive doneLoading">
          </div>
          <div class="text-center appdownload">
            <h3 class="downloadapp">{{'DOWNLOAD'|translate}}</h3>
            <h3 class="downloadapp">{{'IOS APP'| translate}}</h3>
          </div>
          <div class="app-store play-store">
            <a href="https://itunes.apple.com/in/app/id1084678272?mt=8" target="_blank">
              <img src="img/app.png" class="img-responsive doneLoading" alt="Jaipur Pink Panthers"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center updatelink">
          <h3 class="display-inline contest ">{{'For Updates On The Contest Stay Tuned To'| translate}}</h3>
          <div class="social-link custom-list display-inline social-space">
            <ul class="padding0 margin0">
              <li><a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/JaipurPanthers" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->
    <!-- <div class="back-img">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="">
                        <img src="img/wallpapper.png" alt="Desktop and Mobile" class="img-responsive" alt="Jaipur Pink Panthers">
                    </div>
                    <div class="text-center">
                        <h4 class="line140 font-excl">

                {{'Get exclusive JPP Wallpapers for your Desktop and Mobile'|translate}}
            </h4>
                    </div>
                    <div class="button text-center">
                        <a ui-sref="wallpaper" class="btn btn-primary">
                {{'Download Wallpapers'|translate}}
            </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="cell-img">
                                <img src="img/object/phone.png" class="img-responsive" alt="Jaipur Pink Panthers">
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="margin-all p-clear">
                                <div class="download-link">
                                    <h2 class="font-app">{{'Download the JPP App'|translate}}</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <div class="play-store">
                                            <a href="https://play.google.com/store/apps/details?id=com.jaipurpinkpanthers.android" target="_blank">
                                                <img src="img/object/play-store.png" class="img-responsive" alt="Jaipur Pink Panthers">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <div class="app-store play-store">
                                            <a href="https://itunes.apple.com/in/app/id1084678272?mt=8" target="_blank">
                                                <img src="img/object/app-store.png" class="img-responsive" alt="Jaipur Pink Panthers"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>