<div class="invitation" auto-height>
    <div class="text-center">
        <a class="ilogo" ui-sref="home">
            <img src="img/mini-logo.png" alt="Jaipur Pink Panthers" class="img-responsive"/>
        </a>

        <div class="iheader">
            <h1 class="pink-smoke">Its Time to build</h1>
            <h1>your Panther Clan</h1>
        </div>

        <div class="idesc">Invite your friends to subscribe to Jaipur Pink Panthers newsletter
            <br>and get ready for the battle! #RoarForPanthers
        </div>
    </div>


<form name="invite" class="iform">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Your Details</label>
            <input type="text" class="form-control" placeholder="First Name" name="firstname" ng-model="friends.name" required>
            <p class="errmsg" ng-show="invite.firstname.$error.required && invite.firstname.$dirty">Above field is required!</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label opi">Details</label>
            <input type="email" class="form-control" placeholder="Email Address" name="email" ng-model="friends.email" required>
            <p class="errmsg" ng-show="invite.email.$error.required && invite.email.$dirty">Above field is required!</p>
        </div>
      </div>
    </div>

    <div class="row" ng-repeat="frnd in friends.json track by $index">
      <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Friend Details</label>
            <label class="control-label errmsg" ng-click="cancelFrnd($index)">    ---</label>
            <input type="text" class="form-control" placeholder="First Name" ng-model="frnd.name" required>
            <p class="errmsg" ng-show="invite.firstnamefriend.$error.required && invite.firstnamefriend.$dirty">Above field is required!</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label opi">Details</label>
            <input type="email" class="form-control" placeholder="Email Address" ng-model="frnd.email" required>
            <p class="errmsg" ng-show="invite.emailfriend.$error.required && invite.emailfriend.$dirty">Above field is required!</p>
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-by" ng-disabled="invite.$invalid" ng-click="addFriend()"><img src="img/plus-circle.png" alt="Plus Circle">Add a friend</button>
    <button class="btn btn-primary btn-by" ng-disabled="invite.$invalid" ng-click="submitFriends()">Submit</button>

  </div>
</form>
<div class="ippl"></div>
</div>
