<div class="invitation" auto-height>
    <div class="text-center">
        <a class="ilogo" ui-sref="home">
            <img src="img/mini-logo.png" alt="Jaipur Pink Panthers" class="img-responsive"/>
        </a>

        <div class="iheader">
            <h1 class="pink-smoke">Its Time to build</h1>
            <h1>YOUR PANTHER CLAN</h1>
        </div>

        <div class="idesc">Invite your friends to subscribe to Jaipur Pink Panthers newsletter
            <br>and get ready for the battle! #RoarForPanthers
        </div>
    </div>


<form action="" class="iform">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Your Details</label>
            <input type="text" class="form-control" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label opi">Details</label>
            <input type="email" class="form-control" placeholder="Email Address">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Friends Details</label>
            <input type="text" class="form-control" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label opi">Details</label>
            <input type="email" class="form-control" placeholder="Email Address">
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-by"><img src="img/plus-circle.png" alt="Plus Circle">Add a friend</button>
    <button class="btn btn-primary btn-by">Submit</button>

  </div>


</form>
<div class="ippl"></div>
</div>
