<section>
  <div class="banner-title">
    <img src="img/jpp-tv.jpg" class="img-responsive" title="gallery" alt="Jaipur Pink Panthers">
    <section>
      <div class="page-title text-center">
        <div class="border-blue"></div>
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Jaipur Pink Panthers">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">{{"JPP TV" | translate}}</h1>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="mt50">
  <div class="small-container">
    <div class="pink-text">
      {{'Browse through the videos to know more about Jaipur Pink Panthers' | translate}}
    </div>
    <div class="row">
      <div class="text-center" ng-if="videos == []">
        <h1 class="color-primary">{{msg | translate}}</h1>
      </div>
      <div class="col-md-6 mb15 col-sm-6" ng-repeat="data in videos track by $index" ng-if="videos.length>0">
        <a href="https://www.youtube.com/watch?v={{data.url}}" target="_blank">
          <div class="gallery-album">
            <div class="album-cover">
              <a class="various fancybox.iframe block-rel" fancybox ng-href="http://www.youtube.com/embed/{{data.url}}?autoplay=1" >
                <img ng-src="http://img.youtube.com/vi/{{data.url}}/0.jpg " class="img-responsive" alt="youtube">
                <div class="play-btn"></div>
              </a>
              <div class="album-title video">
                <h4 class="f20 text-center" ng-if="currentlang=='en'">{{data.name}}</h4>
                <h4 class="f20 text-center" ng-if="currentlang=='hi'">{{data.hname}}</h4>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
