<section>
  <div class="banner-title">
    <img src="img/banner/news-media.jpg" class="img-responsive" title="NEWS & MEDIA" alt="NEWS & MEDIA">
    <section>
      <div class="page-title text-center">

        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">NEWS & MEDIA</h1>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="mt100 mb100">
  <div class="container">
        <!-- <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in news track by $index">
            <div class="mb50">
              <div class="new-images">
                <img ng-src="{{data.image | serverimage}}" class="img-responsive">
              </div>
              <div class="news-title">

                <h4 class="display-inline color-primary f15 w70 title-margin0">{{data.name}}</h4>
                <span class="display-inline pull-right color-grey pt5 f12 date-float">{{data.timestamp}}</span>
              </div>
              <div class="news-short-desc font-base desc-padtop">
                <p class="line140">{{data.content | cut:true:180:' ...'}}</p>
              </div>
              <div class="read-more">
                <a href="{{data.link}}" target="_blank"><button type="button" class="btn btn-pink">Read More</button></a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- //new UI  -->

        <div class="row">
          <div class="col-md-6 col-sm-6" ng-repeat="data in news track by $index">
            <div class="news-det mb50">
              <div class="news-logo text-center">
                <img ng-src="{{data.logo | serverimage}}">
              </div>
              <div class="news-img">
                <img ng-src="{{data.image | serverimage}}" class="img-responsive">
              </div>
              <div class="news-title">
                <h4 class="font-16">{{data.name}}</h4>
              </div>
              <div class="read-more">
                <a href="{{data.link}}" target="_blank"><button type="button" class="btn btn-pink">VIEW STORY</button></a>
              </div>
            </div>
          </div>
        </div>

  </div>
</section>
