<section>
  <div class="banner-title">
    <img src="img/banner/news-media.jpg" class="img-responsive" title="NEWS & MEDIA" alt="NEWS & MEDIA">
    <section>
      <div class="page-title text-center">

        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">NEWS & MEDIA</h1>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="mt100 mb100">
  <div class="container">


    <!-- //new UI  -->

    <!-- <div class="row">
          <div class="col-md-6 col-sm-6" ng-repeat="data in news track by $index">
            <div class="news-det mb50">
              <div class="news-logo text-center">
                <img ng-src="{{data.logo | serverimage}}">
              </div>
              <div class="news-img">
                <img ng-src="{{data.image | serverimage}}" class="img-responsive">
              </div>
              <div class="news-title">
                <h4 class="font-16">{{data.name}}</h4>
              </div>
              <div class="read-more">
                <a href="{{data.link}}" target="_blank"><button type="button" class="btn btn-pink">VIEW STORY</button></a>
              </div>
            </div>
          </div>
        </div> -->
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="news-det mb100">

          <div class="news-img">
            <img src="img/news/n4.jpg" class="img-responsive">
          </div>
          <div class="new-logo news-med">
            <div class="news-logo">
              <img src="img/news/rajasthanpatrika.png">
            </div>
            <div class="news-date">
              <span>13<sup>th</span> Jan, 2016
            </div>
          </div>

          <div class="news-title">
            <h4 class="font-16">Students get hands on experience playing Kabbadi with JPP Players, joined by Abhishek Bachchan</h4>
          </div>
          <div class="read-more">
            <a href="http://rajasthanpatrika.patrika.com/story/rajasthan/abhishek-bachchan-arrived-jaipur-with-pink-panther-team-1617563.html" target="_blank">
              <button type="button" class="btn btn-pink">VIEW STORY</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="news-det mb50">

          <div class="news-img">
            <img src="img/news/n6.jpg" class="img-responsive">
          </div>
          <div class="new-logo">
            <div class="news-logo news-med">
              <img src="img/news/l3.jpg">
            </div>
            <div class="news-date">
              <span>14<sup>th</span> Jan, 2016
            </div>
          </div>
          <div class="news-title">
            <h4 class="font-16">“Lets take a selfie!”, Junior Bachchan gets candid with fans</h4>
          </div>
          <div class="read-more">
            <a href="http://www.bhaskar.com/news/c-10-2338321-jp0925-abhishek-bacchan-NOR.html?seq=2" target="_blank">
              <button type="button" class="btn btn-pink">VIEW STORY</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div class="news-det mb50">

          <div class="news-img">
            <img src="img/news/n5.png" class="img-responsive">
          </div>
          <div class="new-logo">
            <div class="news-logo news-med">
              <img src="img/news/l4.jpg">
            </div>
            <div class="news-date">
              <span>22<sup>nd</span> Jan, 2016
            </div>
          </div>
          <div class="news-title">
            <h4 class="font-16">'Sporty' Abhishek Bachchan aims to start Pro Kabaddi League for women</h4>
          </div>
          <div class="read-more">
            <a href="http://www.newkerala.com/news/2016/fullnews-10312.html" target="_blank">
              <button type="button" class="btn btn-pink">VIEW STORY</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="news-det mb50">
          <!-- <div class="news-logo text-center">
            <img src="img/news/l5.jpg">
          </div> -->
          <div class="news-img">
            <img src="img/news/n5.png" class="img-responsive">
          </div>
          <div class="new-logo">
            <div class="news-logo news-med">
              <img src="img/news/l5.jpg">
            </div>
            <div class="news-date">
              <span>28<sup>th</span> Jan, 2016
            </div>
          </div>
          <div class="news-title">
            <h4 class="font-16">Jaipur Pink Panthers looking for change of fortune</h4>
          </div>
          <div class="read-more">
            <a href="http://indianexpress.com/article/blogs/sports-blogs/pro-kabaddi-league-2016-team-preview-jaipur-pink-panthers-looking-for-change-of-fortune/" target="_blank">
              <button type="button" class="btn btn-pink">VIEW STORY</button>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
