<section class="home bg">
    <div class="container">
        <div class="player-name">
            <p class=" text-center bold text-uppercase color-white">02</p>
            <p class=" text-center bold text-uppercase color-white">jasvir singh</p>
            <p class=" text-center bold text-uppercase color-white">raider</p>
        </div>
<div class="player-details text-center">
    <div class="row-flex">
        <div class="col-flex">
            <h3>indian</h3>
            <span></span>
            </div>
        <div class="col-flex">
            <h3>indian</h3>
            <span></span>
            </div>
        <div class="col-flex">
            <h3>indian</h3>
            <span></span>
            </div>
        <div class="col-flex">
            <h3>indian</h3>
            <span></span>
            </div>
    </div>
</div>
<div class="player-details">
    <ul class="list-inline">
        <li ng-click="tornaments = 1" ng-class="{'activated': tornaments == 1}">
tornaments
        </li>
        <li ng-click="tornaments = 2" ng-class="{'activated': tornaments == 2}" >
acheivements
        </li>
    </ul>
    <div class="player-details" ng-show="tornaments == 1" >
        <div class="row">
            <div class="col-md-4" >
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
            <div class="col-md-4">
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
            <div class="col-md-4">
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
        </div>
    </div>
      <div class="player-details" ng-show="tornaments == 2">
        <div class="row">
            <div class="col-md-4" >
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
            <div class="col-md-4">
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
            <div class="col-md-4">
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
        </div>
    </div>
</div>

<div class="player-details statistics text-center">
        <ul class="list-inline">
        <li ng-click="career = 1" ng-class="{'activated': career == 1 }">
career
        </li>
        <li ng-click="career = 2" ng-class="{'activated': career == 2 }" >
current
        </li>
              <li ng-click="career = 3" ng-class="{'activated': career == 3 }" >
last season
        </li>
    </ul>
    <div class="player-details" ng-show="career == 1" >
        <div class="row">
            <div class="col-md-4" >
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
            <div class="col-md-4">
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
            <div class="col-md-4">
<p>pro kabadi</p>
<p>indian nationals</p>
            </div>
        </div>
    </div>
      <div class="player-details" ng-show="career == 2">
        <div class="row">
            <div class="col-md-8">
<div class="row">
    <div class="col-md-12">
<p>46</p>
<p>matches played</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
<p>46</p>
<p>matches played</p>
    </div>
    <div class="col-md-4">
<p>46</p>
<p>matches played</p>
    </div>
    <div class="col-md-4">
<p>46</p>
<p>matches played</p>
    </div>
</div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cards">
    <div class="card-img"></div>
    <div class="card-type">
        <p>46</p>
<p>matches played</p>
    </div>
</div>
                    </div>
                </div>

     <div class="row">
                    <div class="col-md-12">
                        <div class="cards">
    <div class="card-img"></div>
    <div class="card-type">
        <p>46</p>
<p>matches played</p>
    </div>
</div>
                    </div>
                </div>
     <div class="row">
                    <div class="col-md-12">
                        <div class="cards">
    <div class="card-img"></div>
    <div class="card-type">
        <p>46</p>
<p>MATCHES PLAYED</p>
    </div>
</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                                    <div class="cards">
 
    <div class="card-type">
        <p>46</p>
<p>matches played</p>
    </div>
</div>
            </div>
            <div class="col-md-3">
  <div class="row">
      <div class="col-md-12">
          <p>matches played</p>
      </div>
  </div>
   <div class="row">
      <div class="col-md-12">
          <p>matches played</p>
      </div>
  </div>
   <div class="row">
      <div class="col-md-12">
          <p>matches played</p>
      </div>
  </div>
            </div>
            <div class="col-md-3">
                    <div class="cards">
   
    <div class="card-type">
        <p>46</p>
<p>matches played</p>
    </div>
</div>
            </div>
            <div class="col-md-3">
     <div class="row">
      <div class="col-md-12">
          <p>matches played</p>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <p>matches played</p>
      </div>
  </div>
            </div>
        </div>
    </div>
     <div class="player-details" ng-show="career == 3">
        <div class="row">
            <div class="col-md-4" >
<p>pro kabadi</p>

            </div>
            <div class="col-md-4">
<p>pro kabadi</p>

            </div>
            <div class="col-md-4">
<p>pro kabadi</p>

            </div>
        </div>
    </div>
</div>
    </div>

</section>
<section class="section5 back-img ">
    <div class="container">
        <h1 class=" text-center bold text-uppercase color-primary">social hub</h1>
    
    <div class="design" >
               <div class="pack-one text-center">
                   
                   <div class="all-movies masonry-width">
                                          <div masonry>
              <div class="masonry-brick" ng-repeat="brick in bricks">
                     <div class="masonry-box">
                       <div class="img-mason relative">
                         <a ng-if="brick.img" href="{{brick.img}}"   class="fancybox-thumb" rel="fancybox-thumb">
                           <img ng-src="{{brick.img}}"  alt="A masonry brick">
                           </a>
                         <div class="infois text-left">
                           <div class="min-logos display-inline">
                                <img src="img/mini-logo.png" class="img-responsive" alt="logo">
                           </div>
                          <div class="inois-info display-inline ">
                            <p class="margin0">{{brick.title}}</p>
                            <span>like this page</span>
                            <span>5 hrs</span>
                          </div>
                         </div>
                       </div>
                                 <div class="info">
                                   <p class="text-justify">{{brick.info}}</p>
                                   <span class="social-icons"></span>
                                   <span class="social-text"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                                 </div>
                                                      </div>
                               </div>
                             </div>
                      </div>
               </div>
               </div>
    </div>
</section>
<section class="view-slider">
   <div class="container">
        <h1 class=" text-center bold text-uppercase color-primary">also view :</h1>
           <flex-slider flex-slide="banner in showcaseSlides track by $index" prev-text="" next-text="" class="" item-width="350" item-margin="25"  animation="slide" slideshow="true" slideshowSpeed="500">
          <li>
       
             <img ng-src="{{banner.img}}" class="img-responsive">
           
          </li>
      </flex-slider>
        </div>  
</section>