<section>
  <div class="banner-title">
    <img src="img/banner/player.jpg" class="img-responsive" title="Players" alt="Players">
    <section>
      <div class="page-title text-center">
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">KNOW YOUR PANTHERS</h1>
        </div>
      </div>
    </section>
  </div>
</section>
<section class="mt100 pro-pad mb50">
  <div class="container">
    <a ng-click="">
      <div class="row">
        <div class="col-md-4 pad5 col-sm-4" ng-repeat="data in player track by $index">
          <a href="" ng-click="openPlayers($index);">
            <div class="player-box text-center mb10">
              <div class="player-image">
                <img ng-src="{{data.image}}" alt={{data.name}} title="{{data.name}}" class="img-responsive">
              </div>
              <hr class="border-player">
              <div class="player-name">
                <h1 class="bold-mrgin color-primary voyeg-font f30 margin0">{{data.name}}</h1>
              </div>
              <div class="player-desg">
                <h6 class="voyeg-font f25 margin0 color-success">{{data.desg}}</h6>
              </div>
            </div>
          </a>
        </div>
      </div>
    </a>
  </div>
</section>
