<div class="section2 home">
    <section>
        <div class="gallery-album">
            <img src="img/players/pointbanner.jpg" class="img-responsive" title="Players" alt="Jaipur Pink Panthers">
            <section>
                <div class="page-title text-center">
                    <div class="panther-punch punch-chng">
                        <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Jaipur Pink Panthers">
                    </div>
                    <div class="title-name point-table  chng-title" style="position: relative;">
                        <h1 class="bold-mrgin"><img src="img/players/titles.png" class="img-responsive" alt="title"></h1>
                        <!--<h1 class="bold-mrgin text-uppercase"> {{'past seasons points table'|translate}}</h1>-->
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<section class="bg-blue">
</section>
<section class=" no-mb margin0 relative">
    <div class=" hidden-xs"></div>
    <div class=" table-box boxer hidden-xs">
    </div>
    <div class=" tables-box boxer hidden-xs">
    </div>
    <div class="tables-box2 hidden-xs">
    </div>
    <div class="point-bkp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <div class="mar-box matop-right">
                        <img  ng-if="currentlang=='en'" src="img/players/sec.png" class="img-responsive" alt="Journeys">
                        <img  ng-if="currentlang=='hi'" src="img/players/hindi-1.png"  class="img-responsive" alt="">
                    </div>
                    <!--<a ui-sref="fixtures"><img ng-src="{{journeyData.image | serverimage}}"  class="img-responsive" alt="Champions Patna Pirates"></a>-->
                </div>
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <div class="white-line-pad">
                        <div class="head-table text-center">
                            <!--<h1 class="color-white font-tbl">{{'POINTS TABLE'|translate}}</h1>-->
                        </div>
                        <div class="nxt-match">
                            <div class="point-tbl mt50">
                                <div class="points-table">
                                    <table class="table grad-table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>W</th>
                                                <th>L</th>
                                                <th>D</th>
                                                <!--<th>SD</th>-->
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="odd-even">
                                            <tr>
                                                <td>1</td>
                                                <td>Patna Pirates</td>
                                                <td>14</td>
                                                <td>10</td>
                                                <td>4</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>52</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Telugu Titans</td>
                                                <td>14</td>
                                                <td>8</td>
                                                <td>4</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Jaipur Pink Panthers</td>
                                                <td>14</td>
                                                <td>8</td>
                                                <td>5</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>47</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>U Mumba</td>
                                                <td>14</td>
                                                <td>7</td>
                                                <td>6</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>42</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Puneri Paltan</td>
                                                <td>14</td>
                                                <td>6</td>
                                                <td>6</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>42</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Bengaluru Bulls</td>
                                                <td>14</td>
                                                <td>5</td>
                                                <td>8</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>32</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Dabang Delhi KC</td>
                                                <td>14</td>
                                                <td>4</td>
                                                <td>9</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>29</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Bengal Warriors</td>
                                                <td>14</td>
                                                <td>3</td>
                                                <td>9</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>26</td>
                                            </tr>
                                            <!--<tr ng-repeat="data in tables">
    <td>{{data.no}}</td>
    <td>{{data.name}}</td>
    <td>{{data.play}} </td>
     <td>{{data.win}}</td>
    <td>{{data.loss}}</td>
    <td>{{data.draw}}</td>
     <td>{{data.sd}}</td>
    <td>{{data.pts}}</td>
</tr>-->
                                        </tbody>
                                        <!--<tbody class="odd-even">
                                            <tr class="{{ data.name | limitTo: 3 }}" ng-repeat="data in table" ng-if="table.length>0">
                                                <td>{{$index +1}}</td>
                                                <td>{{data.name || 'Loading..' | translate}}</td>
                                                <td ng-if="data.group==1">A</td>
                                                <td ng-if="data.group==2">B</td>
                                                <td>{{data.played}}</td>
                                                <td>{{data.wins}}</td>
                                                <td>{{data.lost}}</td>
                                                <td>{{data.draw}}</td>
                                                <td>{{data.point}}</td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//section2-->
<section class=" no-mb margin0 relative">
    <div class=" hidden-xs"></div>
    <div class=" table-box boxer hidden-xs">
    </div>
    <div class=" tables-box2 boxer hidden-xs">
    </div>
    <div class="point-bkp">
        <div class="container-fluid">
            <div class="pinky-band">
                <img src="img/players/band.png" class="img-responsive" alt="pink-band">
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <!--<a ui-sref="fixtures"><img ng-src="{{journeyData.image | serverimage}}"  class="img-responsive" alt="Champions Patna Pirates"></a>-->
                    <div class="white-line-pad">
                        <div class="head-table text-center">
                            <!--<h1 class="color-white font-tbl">{{'POINTS TABLE'|translate}}</h1>-->
                        </div>
                        <div class="nxt-match">
                            <div class="point-tbl mt50">
                                <div class="points-table">
                                    <table class="table grad-table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>W</th>
                                                <th>L</th>
                                                <th>D</th>
                                                <!--<th>SD</th>-->
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="odd-even">
                                            <tr>
                                                <td>1</td>
                                                <td>U Mumba</td>
                                                <td>14</td>
                                                <td>12</td>
                                                <td>2</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>60</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Patna Pirates</td>
                                                <td>14</td>
                                                <td>10</td>
                                                <td>2</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>58</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Puneri Paltan</td>
                                                <td>14</td>
                                                <td>7</td>
                                                <td>4</td>
                                                <td>3</td>
                                                <!--<td>0</td>-->
                                                <td>48</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Bengal Warriors</td>
                                                <td>14</td>
                                                <td>9</td>
                                                <td>11</td>
                                                <td>5</td>
                                                <!--<td>0</td>-->
                                                <td>47</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Telugu Titans</td>
                                                <td>14</td>
                                                <td>7</td>
                                                <td>7</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>38</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Jaipur Pink Panthers</td>
                                                <td>14</td>
                                                <td>7</td>
                                                <td>8</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Bengaluru Bulls</td>
                                                <td>14</td>
                                                <td>2</td>
                                                <td>12</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>14</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Dabang Delhi</td>
                                                <td>14</td>
                                                <td>1</td>
                                                <td>12</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>11</td>
                                            </tr>
                                            <!--<tr ng-repeat="data in tables">
    <td>{{data.no}}</td>
    <td>{{data.name}}</td>
    <td>{{data.play}} </td>
     <td>{{data.win}}</td>
    <td>{{data.loss}}</td>
    <td>{{data.draw}}</td>
     <td>{{data.sd}}</td>
    <td>{{data.pts}}</td>
</tr>-->
                                        </tbody>
                                        <!--<tbody class="odd-even">
                                            <tr class="{{ data.name | limitTo: 3 }}" ng-repeat="data in table" ng-if="table.length>0">
                                                <td>{{$index +1}}</td>
                                                <td>{{data.name || 'Loading..' | translate}}</td>
                                                <td ng-if="data.group==1">A</td>
                                                <td ng-if="data.group==2">B</td>
                                                <td>{{data.played}}</td>
                                                <td>{{data.wins}}</td>
                                                <td>{{data.lost}}</td>
                                                <td>{{data.draw}}</td>
                                                <td>{{data.point}}</td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <div class="marl-box mabot">
                        <img ng-if="currentlang=='en'" src="img/players/sea4.png" class="img-responsive" alt="Journeys">
                           <img ng-if="currentlang=='hi'" src="img/players/hindi-2.png" class="img-responsive" alt="Journeys">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//section3-->
<section class=" no-mb margin0 relative">
    <div class=" hidden-xs"></div>
    <div class=" table-box boxer hidden-xs">
    </div>
    <div class=" tables-box boxer hidden-xs">
    </div>
    <div class="tables-box2 hidden-xs">
    </div>
    <div class="point-bkp">
        <div class="container-fluid">
            <div class="pinky-band">
                <img src="img/players/band.png" class="img-responsive" alt="pink-band">
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <div class="mar-box maright">
                        <img ng-if="currentlang=='en'" src="img/players/se2.png" class="img-responsive" alt="Journeys">
                        <img ng-if="currentlang=='hi'" src="img/players/hindi-3.png" class="img-responsive" alt="Journeys">
                    </div>
                    <!--<a ui-sref="fixtures"><img ng-src="{{journeyData.image | serverimage}}"  class="img-responsive" alt="Champions Patna Pirates"></a>-->
                </div>
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <div class="white-line-pad">
                        <div class="head-table text-center">
                            <!--<h1 class="color-white font-tbl">{{'POINTS TABLE'|translate}}</h1>-->
                        </div>
                        <div class="nxt-match">
                            <div class="point-tbl mt50">
                                <div class="points-table">
                                    <table class="table grad-table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>W</th>
                                                <th>L</th>
                                                <th>D</th>
                                                <!--<th>SD</th>-->
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="odd-even">
                                            <tr>
                                                <td>1</td>
                                                <td>U Mumba</td>
                                                <td>14</td>
                                                <td>12</td>
                                                <td>2</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>60</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Telugu Titans</td>
                                                <td>14</td>
                                                <td>10</td>
                                                <td>2</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>58</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Bengaluru Bulls</td>
                                                <td>14</td>
                                                <td>9</td>
                                                <td>5</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>48</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Patna Pirates</td>
                                                <td>14</td>
                                                <td>7</td>
                                                <td>6</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>38</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Jaipur Pink Panthers</td>
                                                <td>14</td>
                                                <td>6</td>
                                                <td>1</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>38</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Bengal Warriors</td>
                                                <td>14</td>
                                                <td>4</td>
                                                <td>9</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Dabang Delhi</td>
                                                <td>14</td>
                                                <td>4</td>
                                                <td>9</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Puneri Paltan</td>
                                                <td>14</td>
                                                <td>2</td>
                                                <td>11</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>21</td>
                                            </tr>
                                            <!--<tr ng-repeat="data in tables">
    <td>{{data.no}}</td>
    <td>{{data.name}}</td>
    <td>{{data.play}} </td>
     <td>{{data.win}}</td>
    <td>{{data.loss}}</td>
    <td>{{data.draw}}</td>
     <td>{{data.sd}}</td>
    <td>{{data.pts}}</td>
</tr>-->
                                        </tbody>
                                        <!--<tbody class="odd-even">
                                            <tr class="{{ data.name | limitTo: 3 }}" ng-repeat="data in table" ng-if="table.length>0">
                                                <td>{{$index +1}}</td>
                                                <td>{{data.name || 'Loading..' | translate}}</td>
                                                <td ng-if="data.group==1">A</td>
                                                <td ng-if="data.group==2">B</td>
                                                <td>{{data.played}}</td>
                                                <td>{{data.wins}}</td>
                                                <td>{{data.lost}}</td>
                                                <td>{{data.draw}}</td>
                                                <td>{{data.point}}</td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section4
-->
<section class=" no-mb margin0 relative">
    <div class=" hidden-xs"></div>
    <div class=" table-box boxer hidden-xs">
    </div>
    <div class=" tables-box2 boxer hidden-xs">
    </div>
    <div class="point-bkp">
        <div class="container-fluid">
            <div class="pinky-band">
                <img src="img/players/band.png" class="img-responsive" alt="pink-band">
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <!--<a ui-sref="fixtures"><img ng-src="{{journeyData.image | serverimage}}"  class="img-responsive" alt="Champions Patna Pirates"></a>-->
                    <div class="white-line-pad">
                        <div class="head-table text-center">
                            <!--<h1 class="color-white font-tbl">{{'POINTS TABLE'|translate}}</h1>-->
                        </div>
                        <div class="nxt-match">
                            <div class="point-tbl mt50">
                                <div class="points-table">
                                    <table class="table grad-table">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Team</th>
                                                <th>P</th>
                                                <th>W</th>
                                                <th>L</th>
                                                <th>D</th>
                                                <!--<th>SD</th>-->
                                                <th>PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody class="odd-even">
                                            <tr>
                                                <td>1</td>
                                                <td>Jaipur Pink Panthers</td>
                                                <td>14</td>
                                                <td>10</td>
                                                <td>3</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>54</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>U Mumba</td>
                                                <td>14</td>
                                                <td>8</td>
                                                <td>3</td>
                                                <td>3</td>
                                                <!--<td>0</td>-->
                                                <td>51</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Bengaluru Bulls</td>
                                                <td>14</td>
                                                <td>8</td>
                                                <td>5</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>47</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Patna Pirates</td>
                                                <td>14</td>
                                                <td>7</td>
                                                <td>5</td>
                                                <td>2</td>
                                                <!--<td>0</td>-->
                                                <td>45</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Telugu Titans</td>
                                                <td>14</td>
                                                <td>6</td>
                                                <td>5</td>
                                                <td>3</td>
                                                <!--<td>0</td>-->
                                                <td>42</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Dabang Delhi</td>
                                                <td>14</td>
                                                <td>5</td>
                                                <td>8</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>32</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Bengal Warriors</td>
                                                <td>14</td>
                                                <td>4</td>
                                                <td>9</td>
                                                <td>1</td>
                                                <!--<td>0</td>-->
                                                <td>24</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Puneri Paltan</td>
                                                <td>14</td>
                                                <td>2</td>
                                                <td>12</td>
                                                <td>0</td>
                                                <!--<td>0</td>-->
                                                <td>17</td>
                                            </tr>
                                            <!--<tr ng-repeat="data in tables">
    <td>{{data.no}}</td>
    <td>{{data.name}}</td>
    <td>{{data.play}} </td>
     <td>{{data.win}}</td>
    <td>{{data.loss}}</td>
    <td>{{data.draw}}</td>
     <td>{{data.sd}}</td>
    <td>{{data.pts}}</td>
</tr>-->
                                        </tbody>
                                        <!--<tbody class="odd-even">
                                            <tr class="{{ data.name | limitTo: 3 }}" ng-repeat="data in table" ng-if="table.length>0">
                                                <td>{{$index +1}}</td>
                                                <td>{{data.name || 'Loading..' | translate}}</td>
                                                <td ng-if="data.group==1">A</td>
                                                <td ng-if="data.group==2">B</td>
                                                <td>{{data.played}}</td>
                                                <td>{{data.wins}}</td>
                                                <td>{{data.lost}}</td>
                                                <td>{{data.draw}}</td>
                                                <td>{{data.point}}</td>
                                            </tr>
                                        </tbody>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pad0 marg2">
                    <div class="marl-box ">
                        <img ng-if="currentlang=='en'" src="img/players/se1.png" class="img-responsive" alt="Journeys">
                        <img ng-if="currentlang=='hi'" src="img/players/hindi-4.png" class="img-responsive" alt="Journeys">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
