<div class="sponsor_container container-fluid text-center h4" style=" padding-top: 200px;">

    <div class="h1"> SPONSORS</div>
    <div class="titleSponsor" style="padding:15px;">
        <div>Title Sponsor</div>
        <a href="http://finolex.com/" target="_blank"><img class="spo_img" src="img/sponsors/finolex.png"></a>
    </div>
    <div class="poweredBy">
        <div>Powered By</div>
        <a href="http://www.luxinnerwear.com/" target="_blank"><img src="img/sponsors/lux-couzi.png"></a>
    </div>
    <div class="spo_second_col row">
        <div class="prayerPartner col-md-6 col-xs-12">
            <div> Prayer Partner</div>
            <a href="https://www.cycle.in/" target="_blank"><img class="spo_img_1" src="img/sponsors/cycle.png"></a>
        </div>
        <div class="associateSponsor col-md-6 col-xs-12">
            <div> Associate Sponsor</div>
            <div class="spo_img_1 arrange_three_image" style="margin: 0 auto;">
                <a href="http://www.muthootfinance.com/" target="_blank"><img class="mutho_kalyan_icon" src="img/sponsors/muthot.png" style="width: 40%;float: left;"></a>
                <a href="http://kalyanjewellers.net/" target="_blank"> <img class="mutho_kalyan_icon" src="img/sponsors/kalyan.png" style="width:20%;"></a>
                <a href="#" target="_blank"> <img class="mutho_kalyan_icon" src="img/sponsors/performax.png" style="width:35%;"></a>
            </div>
        </div>
    </div>
    <!-- third row-->
    <div class="spo_third_col row">
        <div class="kittingPartner col-md-2 col-md-offset-1 col-xs-6 ">
            <div> Kitting Partner</div>
            <a href="https://didasportswear.com/" target="_blank"><img class="spo_img_2" src="img/sponsors/dida.jpg" style="margin-top:0px"></a>
        </div>
        <div class="fmPartner col-md-2 col-xs-6">
            <div> FM Partner</div>
            <a href="http://www.radiocity.in/" target="_blank"><img class="spo_img_2" src="img/sponsors/radio-city.png"></a>
        </div>
        <div class="multiplexPartner col-md-2 col-xs-6 ">
            <div> Multiplex Partner</div>
            <a href="https://www.inoxmovies.com/Index.aspx" target="_blank"><img class="spo_img_2" src="img/sponsors/inox.png"></a>
        </div>
        <div class="ticketingPartner col-md-2 col-xs-6">
            <div> Medical Partner</div>
            <a href="http://www.narayanahealth.org/" target="_blank"><img class="spo_img_2" src="img/sponsors/narayana.png"></a>
        </div>
        <div class="ticketingPartner col-md-2  col-xs-6">
            <div> Ticketing Partner</div>
            <a href="https://paytm.com/offer/event-offer/jaipur-pink-panthers/" target="_blank"><img class="spo_img_2" src="img/sponsors/paytm.png"></a>
        </div>


    </div>

</div>