<div class="sponsor_container container-fluid text-center h4" style=" padding-top: 200px;">

    <div class="h1"> SPONSORS</div>
    <div class="titleSponsor" style="padding:15px;">
        <div>Title Sponsor</div>
        <a href="http://finolex.com/" target="_blank"><img class="spo_img" src="img/sponsors/finolex.png"></a>
    </div>
    <div class="spo_second_col row">
        <div class="firstbloc col-md-5 col-xs-12 poweredBy">
            <div>Powered By</div>
            <a href="http://www.luxinnerwear.com/" target="_blank"><img src="img/sponsors/lux-couzi.png"></a>
        </div>
        <div class="secondbloc col-md-7 col-xs-12">
            <div> Associate Sponsor</div>
            <div class="ass_spon" style="">
                <div class="col-md-4 col-xs-12"> <a href="" target="_blank"> <img style=" object-fit:contain " class="sponsor_ass_img" src="img/sponsors/reliance.png" style=""></a></div>
                <div class="col-md-4 col-xs-12"> <a href="http://www.muthootfinance.com/" target="_blank"><img  class="sponsor_ass_img" src="img/sponsors/muthot.png" style=""></a></div>
                <div class="col-md-4 col-xs-12"> <a href="http://kalyanjewellers.net/" target="_blank"> <img style=" object-fit:contain" class="sponsor_ass_img h-65" src="img/sponsors/kalyan.png" style=""></a></div>
            </div>
        </div>
    </div>
    <div class="spo_third_col row">
        <div class="firstbloc col-md-2 col-xs-12">
            <div> Prayer Partner</div>
            <a href="https://www.cycle.in/" target="_blank"><img class="spo_img_1" src="img/sponsors/cycle.png"></a>
        </div>
        <div class="kittingPartner col-md-2 col-md-offset-1 col-xs-6">
            <div> Kitting Partner</div>
            <a href="" target="_blank"><img class="spo_img_2" src="img/sponsors/fy.png"></a>
        </div>
        <div class="fmPartner col-md-2 col-xs-6">
            <div>Educational Partner</div>
            <a href="" target="_blank"><img class="ticketing" src="img/sponsors/educational.png"></a>
        </div>
        <div class="multiplexPartner col-md-2 col-xs-6">
            <div>Sports Medicine Partner</div>
            <a href="" target="_blank"><img class="ticketing" src="img/sponsors/sports.png"></a>
        </div>
        <div class="multiplexPartner col-md-2 col-xs-6 ">
            <div>Yoga Partner</div>
            <a href="" target="_blank"><img class="spo_img_2" src="img/sponsors/yoga.png"></a>
        </div>
    </div>
    <!-- <div class="spo_second_col row">
        <div class="firstbloc col-md-5 col-xs-12">
            <div> Prayer Partner</div>
            <a href="https://www.cycle.in/" target="_blank"><img class="spo_img_1" src="img/sponsors/cycle.png"></a>
        </div>
        <div class="secondbloc col-md-7 col-xs-12">
            <div> Associate Sponsor</div>
            <div class="ass_spon" style="">
                <div class="col-md-4 col-xs-12"> <a href="http://www.muthootfinance.com/" target="_blank"><img  class="sponsor_ass_img" src="img/sponsors/muthoot.jpg" style=""></a></div>
                <div class="col-md-4 col-xs-12"> <a href="http://kalyanjewellers.net/" target="_blank"> <img style=" object-fit:contain " class="sponsor_ass_img" src="img/sponsors/kalyan.png" style=""></a></div>
                <div class="col-md-4 col-xs-12"> <a href="#" target="_blank"> <img  class="sponsor_ass_img" src="img/sponsors/performax.jpg"></a></div>
            </div>
        </div>
    </div> -->
    <!-- third row-->
    <div class="spo_third_col row">
        <div class="kittingPartner col-md-2 col-md-offset-3 col-xs-6">
            <div> Ticketing Partner</div>
            <a href="" target="_blank"><img class="ticketing" src="img/sponsors/ticketing.png"></a>
        </div>
        <div class="fmPartner col-md-2 col-xs-6">
            <div> Medical Partner</div>
            <a href="" target="_blank"><img class="spo_img_2" src="img/sponsors/medical.png"></a>
        </div>
        <div class="multiplexPartner col-md-2 col-xs-6 ">
            <div> Radio Partner</div>
            <a href="" target="_blank"><img class="spo_img_2" src="img/sponsors/radio.png"></a>
        </div>
    </div>
</div>