<section>
  <div class="banner-title">
    <img src="img/banner/ticket-merchandize.jpg" class="img-responsive" title="ticket & merchandize" alt="ticket & merchandize">
    <section>
      <div class="page-title text-center">
        <div class="border-blue"></div>
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">TICKETS & MERCHANDISE</h1>
        </div>
      </div>
    </section>
  </div>

</section>

<section class="mb100 mt100 marginzero">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="new-ticket text-center">
        <div class="ticket-title">
        <h1 class="color-primary">TICKETS</h1>
        </div>
        <div class="ticket-img">
          <img src="img/Tickets-&-Merchandize/t1.png" alt="Tickets" title="Tickets">
        </div>
        <div class="ticket-btn">
          <a href="http://in.bookmyshow.com/sports/kabaddi/jaipur-pink-panthers/?utm_source=twitter&utm_medium=referral&utm_campaign=tw_prokabaddi_011816" target="_blank"><button class="btn btn-primary btn-by">BUY NOW</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="new-ticket text-center">
        <div class="ticket-title">
        <h1 class="color-primary">MERCHANDIZE</h1>
        </div>
        <div class="ticket-img">
          <img src="img/Tickets-&-Merchandize/m1.png" alt="Merchandize" title="Merchandize">
        </div>
        <div class="ticket-btn">
<a href=""> <button class="btn btn-primary btn-by">COMING SOON</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
