<section>
  <div class="banner-title">
    <img src="img/banner/ticket-merchandize.jpg" class="img-responsive" title="ticket & merchandize" alt="ticket & merchandize">
    <section>
      <div class="page-title text-center">
        <div class="border-blue"></div>
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin"> {{'Tickets & Merchandise'|translate}}</h1>
        </div>
      </div>
    </section>
  </div>

</section>

<section class="mt100 mb100">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="new-ticket text-center">
        <div class="ticket-title">
        <h1 class="color-primary">TICKETS</h1>
        </div>
        <div class="ticket-img">
          <img src="img/Tickets-&-Merchandize/t1.png" alt="Tickets" title="Tickets">
        </div>
        <div class="ticket-btn">
          <a href="http://in.bookmyshow.com/sports/pro-kabaddi/jaipur-pink-panthers/?utm_source=facebook&utm_medium=referral&utm_campaign=fb_pro-kabaddi_jaipur_pinkpanther_290116" target="_blank"><button class="btn btn-primary btn-by">BUY NOW</button></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="new-ticket text-center">
        <div class="ticket-title">
        <h1 class="color-primary">MERCHANDISE</h1>
        </div>
        <div class="ticket-img">
          <img src="img/Tickets-&-Merchandize/m1.png" alt="Merchandize" title="Merchandize">
        </div>
        <div class="ticket-btn">
<button class="btn btn-primary btn-by grey-btn" disabled>COMING SOON</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
