<section>
  <div class="banner-title">
    <img src="img/banner/wallpapper.jpg" class="img-responsive" title="WALLPAPERS" alt="WALLPAPERS">
    <section>
      <div class="page-title text-center">
        <div class="border-blue"></div>
        <div class="panther-punch">
          <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
        </div>
        <div class="title-name">
          <h1 class="bold-mrgin">WALLPAPERS</h1>
        </div>
      </div>
    </section>
  </div>

</section>

<section class="mt100 mb100">
  <div class="container disableSave" oncontextmenu=" return false;">
    <!-- <div class="mb50">
    <div class="row">
      <div class="col-md-12">
        <div class="ticket-merchandize-data font-base">
          <p class="line140">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    </div> -->
    <div class="row">
      <div class="text-center" ng-if="wallpapper.length <=0">
        No videos found.
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in wallpapper track by $index" ng-if="wallpapper.length >0">
        <a class="pointer" ui-sref="wallpapper-inner({
          id:data.id
        })">
          <div class="wallpapper-data text-center">
        <div class="wallpapper-img">
          <img ng-src="{{data.image | serverimage}}" class="img-responsive">

        </div>
        <div class="wall-title">
          <h3 class="color-primary margin0 line140 font-20">{{data.name}}</h3>
          <h4 class="margin0 font-light f20 font-14">{{data.wallpapercount[0].wallpapercount}} wallpapers</h4>
        </div>
        </div>
      </a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-offset-8 col-md-4 col-offset-sm-8 col-sm-4">
        <div class="pull-right mb50">
            <button type="button" class="btn btn-primary f20">View More</button>
        </div>
      </div>
    </div> -->
  </div>

</section>
