<section class="mt100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wall-titles mt-l100">
          <h1 class="color-pink font-28">ABHISHEK BACHAN</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wallpapper-image">
          <img src="img/wallpapper/main.jpg" class="img-responsive" alt="wallpapper-name" title="wallpapper-name">
        </div>
      </div>
    </div>
    <div class="martop">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="wallpapper-select">
          <form>
          <div class="form-group">
          <select class="form-control" id="sel1">
              <option>1024 x 768</option>
              <option>1024 x 768</option>
              <option>1024 x 768</option>
              <option>1024 x 768</option>
            </select>
          </div>
        </form>
        </div>

      </div>
      <div class="col-md-3 col-sm-3">
        <div class="wallpapper-download display-inline">
          <a href=""><img src="img/object/download.png"></a>
        </div>
        <div class="wallpapper-count display-inline">
          <span>25</span>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-5 col-sm-5" >
        <div class="social-icon custom-list pull-right fl-left">
          <ul class="padzero">
            <li>
              <a href="">
                <i class="fa fa-facebook facbook"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-twitter twitter"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-google-plus google"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-pinterest-p pintrest"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
<hr class="mb36 mt-10">

    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in wallpapper track by $index">
        <div class="wallpapper-data text-center mb36">
        <div class="wallpapper-img">
          <a href=""><img ng-src="{{data.image}}" class="img-responsive"></a>
        </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-4 col-sm-offset-8 col-sm-4">
        <div class="pull-right mb100">
            <button type="button" class="btn btn-primary f20">View More</button>
        </div>
      </div>
    </div>
  </div>
</section>
