  <!-- <section>
    <div class="banner-title">
      <img src="img/banner/wallpapper.jpg" class="img-responsive" title="WALLPAPERS" alt="WALLPAPERS">
      <section>
        <div class="page-title text-center">
          <div class="border-blue"></div>
          <div class="panther-punch">
            <img src="img/object/panther-punch.png" title="Panther-Punch" alt="Panther-Punch">
          </div>
          <div class="title-name">
            <h1 class="bold-mrgin">WALLPAPERS</h1>
          </div>
        </div>
      </section>
    </div>
  </section> -->
  <section >
  <div class="container" style="margin-top: 60px;">
    <div class="row">
      <div class="col-md-12">
        <div class="wall-titles mt-l100">
          <h1 class="color-pink font-28">{{wallpapercategory}}</h1>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="wallpapper-image">
          <img src="img/wallpapper/main.jpg" class="img-responsive" alt="wallpapper-name" title="wallpapper-name">
        </div>
      </div>
    </div> -->
  <!-- <div class="martop">
      <div class="row"> -->
       <!-- <div class="col-md-3 col-sm-4">
        <div class="wallpapper-select">
          <form>
          <div class="form-group">
          <select class="form-control" id="sel1">
              <option>1024 x 768</option>
              <option>1024 x 768</option>
              <option>1024 x 768</option>
              <option>1024 x 768</option>
            </select>
          </div>
        </form>
        </div>
      </div> -->
        <!-- <div class="col-offset-md-3 col-offset-md-4 col-md-3 col-sm-3">
        <div class="wallpapper-download display-inline">
          <a href=""><img src="img/object/download.png"></a>
        </div>
        <div class="wallpapper-count display-inline">
          <span>25</span>
        </div>
      </div> -->
      <!-- <div class="col-md-5 col-sm-5 pull-right">
          <div class="social-icon custom-list pull-right fl-left">
            <ul class="padzero">
              <li>
                <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                  <i class="fa fa-facebook facbook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/JaipurPanthers" target="_blank">
                  <i class="fa fa-twitter twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                  <i class="fa fa-instagram google"></i></a>
              </li>
            </ul>
          </div>
        </div> -->
     <!-- </div>
    </div> -->
  <hr class="mb36 mt-10">

    <div class="row">
      <h1 class="text-center color-primary" ng-if="wallpapper.length <= 0">
      {{msg}}
      </h1>
      <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="data in wallpapper track by $index">
        <div class="wallpapper-data text-center mb36">
          <div class="wallpapper-img">
            <a href="{{data.image | serverimage}}" download>
              <img ng-src="{{data.image | thumbimage}}" class="img-responsive" alt="{{data.image | thumbimage}}">
            <div class="layer-second">
              <img src="img/object/download.png" alt="download">
            </div>
           </a>
          </div>

        </div>
      </div>
      <div class="clear-fix">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="text-center mb100">
          <button type="button" ng-click="viewMore()" ng-hide="lastpage" class="btn btn-primary f20">View More</button>

        </div>
      </div>
    </div>
  </div>
</section>
