<section>
  <div class="banner-title">
    <img src="img/banner/wallpapper.jpg" class="img-responsive" title="WALLPAPERS" alt="WALLPAPERS">
  </div>

</section>
<section>
  <div class="page-title text-center">
    <div class="border-blue"></div>
    <div class="panther-punch">
      <img src="img/object/punch.jpg" title="Panther-Punch" alt="Panther-Punch">
    </div>
    <div class="title-name">
      <h2>WALLPAPERS</h2>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ticket-merchandize-data">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="data in wallpapper track by $index">
        <div class="wallpapper-data text-center">
        <div class="wallpapper-img">
          <img ng-src="{{data.image}}" class="img-responsive">
        </div>
        <div class="wall-title">
          <h4>{{data.name}}</h4>
          <span>{{data.desc}}</span>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-4">
        <div class="pull-right">
            <button type="button" class="btn btn-primary">View More</button>
        </div>
      </div>
    </div>
  </div>

</section>
