<footer ng-controller="footerctrl">
  <section>
    <div class="first-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <div class="name-sponser display-inline">
              <h4 class="color-primary f20 margin0">SPONSORS:</h4>
            </div>
          </div>
          <div class="col-md-11 col-sm-11">
            <div class="sponser-logo custom-list display-inline">
              <ul class="margin0 padding0 pl25">
                <!-- <li ng-repeat="data in logo track by $index" class="li-footer text-center"> -->
                <li class="li-footer text-center">
                  <a href="">
                    <!-- <img ng-src="{{data.url}}" alt="{{data.name}}" title={{data.name}}> -->
                    <span class="f-span">Powered by:</span>
                    <img src="img/logo/binani.jpg" alt="binani logo">
                  </a>
                </li>
                <li class="li-footer text-center">
                  <a href="">
                    <!-- <img ng-src="{{data.url}}" alt="{{data.name}}" title={{data.name}}> -->
                    <span class="f-span">Associate Sponsor:</span>
                    <img src="img/logo/l6.png" alt="daawat logo">
                  </a>
                </li>
                <li class="li-footer text-center">
                  <a href="">
                    <!-- <img ng-src="{{data.url}}" alt="{{data.name}}" title={{data.name}}> -->
                    <span class="f-span">Associate Sponsor:</span>
                    <img src="img/logo/patrika.png" alt="rajasthan patrika logo">
                  </a>
                </li>
                <li class="li-footer text-center">
                  <a href="">
                    <!-- <img ng-src="{{data.url}}" alt="{{data.name}}" title={{data.name}}> -->
                      <span class="f-span">Kitting Partner:</span>
                    <img src="img/logo/dida-logo.png" alt="dida logo">
                  </a>
                </li>

                <!-- <li class="li-footer text-center">
                  <a href="">

                    <span class="f-span"> FM Partner:</span>
                    <img src="img/logo/red-fm.png" alt="red fm logo">
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-footer">
      <div class="container">
        <div class="row pall35">
          <div class="">
            <div class="col-md-4 col-sm-4">
              <div class="pink-name text-center-md">
                <a href="">
                  <span class="font-f">© {{template.year}} JaipurPinkPanther</span>
                </a>
              </div>
            </div>
            <div class="col-md-4 text-center col-sm-4">
              <div class="follow display-inline text-center-md padd-footer">
                <span class="font-f pr15">FOLLOW US ON</span>
              </div>
              <div class="social-link custom-list display-inline text-center-md">
                <ul class="padding0 margin0">
                  <li>
                    <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/JaipurPanthers" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="ting pull-right float-none-md text-center-md">
                <a href="http://ting.in" target="_blank" class="font-f">Designed by Ting</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
