<footer ng-controller="footerctrl">
  <section ng-controller="languageCtrl">
    <div class="language-holder">
      <img ng-src="{{language}}">
      <div class="hover-select">
        <ul>
          <li ng-click="changeLanguage('hi');"><img src="img/lan-hi.jpg">Hindi</li>
          <li ng-click="changeLanguage('en');"><img src="img/lan-en.jpg">English</li>
        </ul>
      </div>
    </div>
    <div class="first-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-sm-1">
            <div class="name-sponser display-inline">
              <h4 class="color-primary f20 margin0">SPONSORS:</h4>
            </div>
          </div>
          <div class="col-md-11 col-sm-11">
            <div class="sponser-logo custom-list mini-text">
              <ul class="margin0 padding0 pl25">
                <!-- <li class="li-footer text-center">
                    <span class="f-span">Powered by:</span>
                    <img src="img/logo/binani.jpg" alt="binani logo">
                </li>
                <li class="li-footer text-center">
                    <span class="f-span">Associate Sponsor:</span>
                    <img src="img/logo/l6.png" alt="daawat logo">
                </li>
                <li class="li-footer text-center">
                    <span class="f-span">Associate Sponsor:</span>
                    <img src="img/logo/patrika.png" alt="rajasthan patrika logo">
                </li> -->
                <li class="li-footer text-center">
                      <span class="f-span">Kitting Partner:</span>
                    <img src="img/logo/dida-logo.png" alt="dida logo">
                </li>
                <li class="li-footer text-center">
                      <!-- <span class="f-span">Kitting Partner:</span> -->
                    <img src="img/logo/magicbus.png" alt="magic bus">
                </li>

                <!-- <li class="li-footer text-center">
                  <a href="">

                    <span class="f-span"> FM Partner:</span>
                    <img src="img/logo/red-fm.png" alt="red fm logo">
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-footer">
      <div class="container">
        <div class="row pall35">
          <div class="">
            <div class="col-md-4 col-sm-4">
              <div class="pink-name text-center-md">
                <a href="">
                  <span class="font-f">© {{template.year}} Jaipur Pink Panthers</span>
                </a>
              </div>
            </div>
            <div class="col-md-4 text-center col-sm-4">
              <div class="follow display-inline text-center-md padd-footer">
                <span class="font-f pr15">FOLLOW US ON</span>
              </div>
              <div class="social-link custom-list display-inline text-center-md">
                <ul class="padding0 margin0">
                  <li>
                    <a href="https://www.facebook.com/JaipurPinkPanthers/" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/JaipurPanthers" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/jaipur_pinkpanthers/" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="ting pull-right float-none-md text-center-md">
                <span class="font-f">Designed &amp; Developed by <a href="http://www.ting.in/" target="_blank">TING</a> &amp; <a href="http://www.yfldigital.com/" target="_blank">YFLdigital</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
