<div class="modal-container">
<div class="otp-one login-head otp-two text-center otps password">
     <a href="" class="closes" ng-click="$dismiss();">
        <img src="img/modals/close.png" class="img-responsive" alt="cross">
        <!--<i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>-->
    </a>
    <h1 class="text-uppercase">Change Password</h1>

    <form  name="forms-otp1" class="form-otp">
<div class="form-groups">
    <input type="text" placeholder="New Password">
</div>
<div class="form-groups">
    <input type="text" placeholder="Confirm Password ">
</div>
<button class="btn btn-default btn-go text-uppercase" ng-click="passconfirm();">confirm</button>
    </form>
</div>
</div>